<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2">Support -- Donations -- Post-cards</FONT></FONT></TD>
</TR>
</TABLE>
<P>
Please, take the time to read <A HREF="support.html">this page</A>.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2">SmartEiffel.FAQ</FONT></FONT></TD>
</TR>
</TABLE>
<P>
The SmartEiffel FAQ <A HREF="SmartEiffelFAQ.html">click here</A>.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2">Commands documentation</FONT></FONT></TD>
</TR>
</TABLE>
<P>
To browse documentation of all commands of SmartEiffel 
<A HREF="commands.html">click here</A>.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2">Miscellaneous</FONT></FONT></TD>
</TR>
</TABLE>
<P>
More information about the generated C code  
<A HREF="c_code.html">here</A>.
<BR>
More information about calling C code from Eiffel
<A HREF="external.html">here</A>.
<BR>
More information about calling Eiffel code from C code 
<A HREF="cecil.html">here</A>.
<BR>
More information about system configuration 
<A HREF="system.html">here</A>.
<BR>
More information about the history of SmartEiffel 
<A HREF="../misc/HISTORY.html">here</A>.
<BR>
More information about a lot of people 
<A HREF="../misc/THANKS.html">here</A>.
</P>

<CENTER><P><IMG SRC="se-line.gif" ALT="[Line]" HEIGHT=16 WIDTH=550>
<BR>
<I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A> <BR>
<!-- hhmts start -->
Last modified: Thu Jul 19 15:58:05 CEST 2001
<!-- hhmts end -->
by DC.
</FONT></I><BR></P></CENTER>
