<!-- Title = not yet implemented -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>List of known bugs and 
unimplemented features</B></FONT></CENTER>
</TD>
</TR>
</TABLE>
<BR>

<BR>
<UL>


<LI>
<B>Command line arguments</B> cannot be given as argument of the root procedure
(not yet implemented).
For the time being, you can use features <TT>argument_count</TT> and
<TT>argument</TT> of class GENERAL.
<BR><BR>
</LI>


<LI>
Features <TT><B>deep_clone</B></TT> and <TT><B>deep_equal</B></TT>
of class GENERAL are not yet implemented for <TT>compile_to_jvm</TT>.
<BR><BR>
</LI>


<LI>
<TT><B>compile_to_jvm</B></TT> is broken. It worked fine in 1.1
(except for INTEGER_64), but it won't be shipped with 2.0. It will
resurrect though, later (planned for 2.2).  <BR><BR> </LI>


<LI>
<TT>compile_to_jvm</TT> doesn't allow you to make <B>applets</B>.
<BR><BR>
</LI>

<LI>
<B>inline agents</B> is not implemented yet.
<BR><BR>
</LI>

<LI>
<TT><B>dispose</B></TT> is not implemented yet for <I>expanded</I> objects.
</LI>

</UL>
<CENTER><IMG SRC="../images/se-line.gif" ALT="[Line]" ></CENTER>
<CENTER><I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne
COLLIN - <A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr></A><BR>
<!-- hhmts start -->
Last modified: Tue Feb 11 12:23:05 CET 2003
<!-- hhmts end -->
<BR>
</FONT></I></CENTER>
