<!-- Title = the SmartEiffel contributors -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF"  >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE="+3"><B>SmartEiffel 
Contributors</B></FONT></CENTER>
</TD>
</TR>
</TABLE>
<BR>
<BR>
<BR>

<P>
<TABLE BORDER="0">

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_3.gif" ALT="***"></TD>
<TD>
<B>Frank ARNAUD</B>: bug report of test_tag1.e. Reported a problem
   with Windows NT / Microsoft C / empty struct. Reported a bug about 
   renaming/redefinition of Eiffel externals. New maintainer of 
   the Eiffel FAQ.  
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_3.gif" ALT="***"></TD>
<TD>
<B>Eric BEZAULT</B>: lots of really good (short!) bug reports: rename/select,
   statically computed expressions, weird uses of inheritance clause, insisted
   to give SmartEiffel a -case_insensitive flag...
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_3.gif" ALT="***"></TD>
<TD>
<B>Xavier CREGUT</B>: has been using SmartEiffel for a long time. Many bug 
   reports. Reported in a very small program a tricky bug dealing with 
   inheritance/genericity and VNCG rule.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_3.gif" ALT="***"></TD>
<TD>
<B>Geoff ELDRIDGE</B>: since many years, Geoff is one of the 
best SmartEiffel's supporter thanks to the excellent elj-win32
distribution. Keep up the good work Geoff !
As a side-note, Geoff is also the initial designer of the
BASIC_TIME class.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_3.gif" ALT="***"></TD>
<TD>
<B>Enrico GOBBETTI</B>: many (excellent) bug reports and many good bug-fixes .
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_3.gif" ALT="***"></TD>
<TD>
<B>James GRAVES</B>: initial design of exception handling, on which we
   based our final implementation. Maintainer of SmartEiffel's RPMs for 
   RedHat Linux.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_3.gif" ALT="***"></TD>
<TD>
<B>Alain LE GUENNEC</B>: many well-isolated bug reports plus some 
   very good bug-fixes.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_3.gif" ALT="***"></TD>
<TD>
<B>S.u.S.E. GNU/Linux</B>: since mid-1998, the 
S.u.S.E. GNU/Linux distribution is our main development OS.
Indeed, we have already received <B>for free</B> all versions from 4.3
to 7.3. 
Also note that SmartEiffel The GNU Eiffel Compiler is part of the S.u.S.E. 
GNU/Linux distribution. We are grateful to S.u.S.E for being very 
supportive to us. We hope the S.u.S.E. GNU/Linux team will keep up the 
good work, being successful and providing us with free copies of their 
distribution ;-) 
</TD>
</TR>

</TABLE>

<BR>
<HR ALIGN="center" WIDTH="50%" NOSHADE>
<BR>

<TABLE BORDER="0">

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Reimer BEHRENDS</B>: isolated a bug about once pre-computed functions
   and many other bugs.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Nigel BREE</B>: fixed a tricky bug in the runtime stack. Improved
   portability for Windows95/NT. Wrote the install script for
   Windows95/NT.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Thierry DE CARVALHO</B>: found a bug in inspect/when. Fixed a bug
   in STD_FILE_READ.connect_to.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Emmanuel CECCHET</B>: updates of the Linux executable. Found
   some bugs in creation calls. Provided a lot of useful comments.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Valery CROIZIER</B>:  reported bugs (in very numerous mails :-).
   Provided hints to optimise the C code.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Andre DOHERTY</B>: used to maintain the SmartEiffel ready for OS2 version.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Antoine GUARRIGUES</B>: worked with Philippe RIBET.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Wai-Ming HO</B>: many well-isolated bug reports, plus one tricky
   Garbage Collector bug with fix.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Jean-Marc J&Eacute;Z&Eacute;QUEL</B>: reported some bugs on ARRAY inheritance.
   Isolated a bug on VNCG. Beta testing.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Alexander KJELDAAS</B>: fixed a bug in INSTALL.CSH. Reported a 
   problem with mixed rename/redefine and a problem with run time
   stack.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Philippe LAHIRE</B>: reported some bugs with repeated inheritance.
   Isolated some problems with select.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Antony LE LABOUSSE</B>: worked with Cyril ADRIAN.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Greg Lee</B>: many good bug reports and many patches and needed updates, mostly
   related to Java byte-code generation.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Jean-Lin PACHERIE</B>: many bug reports.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Marc SCALZOLARO</B>: reported some bugs and added some tests 
   for expanded class types.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Fridtjof SIEBERT</B>: for some well isolated bug reports.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Glen STONE</B>: improved the type inference score as well as code 
   generation (more dispatch functions are now removed). Also sent
   some good bug reports.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Brian STRELIOFF</B>: reported some bugs. Gave me some 
   good hints about compatibility with C++ and warning messages of
   gcc.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Jerome THOEN</B>: author of some (optimised) features to avoid
memory leaks.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Dan WILDER</B>: uploads new versions of SmartEiffel to 
   sunsite (for Linux).
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Richard WALKER</B>: promotes the use of SmartEiffel at the
   Australian National University and helps us to improve 
   SmartEiffel's documentation.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_2.gif" ALT="**"></TD>
<TD>
<B>Alan ZIMMERMAN</B>: clear bug report with an excellent fix for
the exception trace.
For one aspect, the problem was specific to the CYGWIN compiler and
its implementation of longjmp.
The second bug was related to the unwinding of exception trace
immediately before a polymorphic call.
</TD>
</TR>




</TABLE>

<BR>
<HR ALIGN="center" WIDTH="50%" NOSHADE>
<BR>

<TABLE BORDER="0">

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Thomas AGLASSINGER</B>: implementation of the low level C code to
make BASIC_DIRECTORY available on Amiga.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Christophe ALEXANDRE</B>: found a bug in REAL.put_real_format.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B> Wilfried BERGER</B>: done some tuning of the GC for Windows platforms.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B> Vincent BERNAT</B>: first implementation of class SET (together
with Philippe GEOFFROY).
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Emmanuel BOUYER</B>: was the first one to use SmartEiffel for
   his PhD Thesis. He is also a good bug reporter.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Robert W. BREWER</B>: a good bug report about inlining of $ operator.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Oscar N. BRIA</B>: reported a bug for mixed rename/redefine.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Lars BRUECKNER</B>: wrote some code for STD_FILE_READ.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Romaric CHARTON</B>: find two bugs in ifthenelse expression, and
   argument checking of external feature.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Grant CHESTON</B>: reported a bug with attribute renaming.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Rudi CHIARITO</B>: for the Amiga/Elate support as well as various
   C compiler for this system.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Frank CHIRON</B>: fixed a bug in class BIT_N.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Greg COMPESTINE</B>: the official press-agent of SmartEiffel.
Greg is in charge of SmartEiffel announcements in various newsgroups.
He is also an long term SmartEiffel user.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Vincent CROIZIER</B>: good work to fix the priority of operator
infix "^" and for Precursor implementation.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Stephane D'ALU</B>: added some features in STRING (split, ...).
   Reported some bugs for class BIT.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>James Scott EDWARDS</B>: fixed a bug in the inspect statement. 
   The new generated C code may also use the C switch statement. 
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Oliver ELPHICK</B>: fixed a bug in misc/INSTALL.SH and help us to
make our decision about Eiffel source distribution.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Joel FAEDI</B>: (not yet) solved some problems using gcc.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Pierre-Marie FORT</B>: made a great work in order to optimise NUMBERs.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Fabrice FRANCESCHI</B>: initial sketch of the SmartEiffel Web site.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Philippe GEOFFROY</B>: first implementation of class SET (together
with Vincent BERNAT).
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Brigitte JARAY</B>: one of the first beta testing girls.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Zahi Al JAMOUS</B>: found a syntactical bug, and some others. First 
   Lebanese user of SmartEiffel.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Stephane JANTZEN</B>: beta testing of externals.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Mostefa KASSAB</B>: reported a bug about deferred features.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Patrice KHAWAM</B>: reported some bugs.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Joseph R. KINIRY</B>: done a great job to port SmartEiffel on Amiga
   VP on Elate. He has also wrote with Rudi CHIARITO the GC customized
   support for Amiga.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Fr&eacute;d&eacute;ric LEJAL</B>: provides us pre-compiled versions for several platforms.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Nicole LEVY</B>: found some syntactical bugs producing a core dump.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Luigi LIQUORI</B>: for his suggestions about the SmartEiffel debugger.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Masato MOGAKI</B>: reported a bug with $ operator.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Jean-Louis N&Eacute;BUT</B>: reported bug about renaming.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Steve NORMAN</B>: fixed a bug in floating-point constants.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Francois PENNANEACH</B>: a good bug report.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>John E. Perry</B>: made the html_css hooks for short.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Todd PLESSEL</B>: a good bug report.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Francois RAGUIN</B>: isolated a bug of REAL.infix "^"
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Greg REAGLE</B>:  fixed various bugs in library NUMBER and added several
features (<TT>to_decimal</TT> and <TT>append_decimal_in</TT> of class 
NUMBER, etc.).
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Philippe REITZ</B>: bug report dealing with inheritance.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Christophe REMY</B>: isolated a bug about argument passing.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Claude SANCHEZ</B>: allowed me to use some more memory (256Mb...) 
   to be able to do the very first bootstrap.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Gregoire SCHNAKENBOURG</B>: fixed a bug in REAL/DOUBLE keyboard 
   input.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Adrian SIEBER</B>: for some good bug reports.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Brian STEFANISH</B>: patch for assertion tags.
</TD>
</TR>


<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>John TYRREL</B>: comments and some bug reports.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Arno WAGNER</B>: made the STRING class ELKS compatible.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Johannes WEHRLI</B>: done some beta testing on VMS.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Bruce WIELINGA</B>: first author of SmartEiffel/lib_rand.
</TD>
</TR>

<TR>
<TD VALIGN="top"><IMG SRC="../images/stars_1.gif" ALT="*"></TD>
<TD>
<B>Dietmar WOLZ</B>: beta testing and information of SmartEiffel with 
   Boehm-Demers-Weiser garbage collector. Also gave me some hints 
   to optimise ARRAY add_last. Provided a very interesting benchmark 
   comparing SmartEiffel to other C/C++/Eiffel compilers.
</TD>
</TR>


</TABLE>
</P>
<!-- BL START -->
<!-- BL1 START -->
<CENTER>
<IMG SRC="../images/se-line.gif" ALT="[Line]">
<BR>
<FONT SIZE="-1"><I>
Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A>
<BR>
<!-- hhmts start -->
Last modified: Fri Apr 18 08:32:53 CEST 2003
<!-- hhmts end -->
<BR>
</I></FONT><BR></CENTER>
