<!-- Title = Future work -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>Future improvements / Work in progress</B></FONT></CENTER>
</TD>
</TR>
</TABLE>
<BR>

<BR>
 
<UL>

<LI>SCOOP (multi-threading) is in progress.<BR><BR></LI>

<LI>sedb: add attribute printing capabilities.<BR><BR></LI>

<LI>Graphic library for X11 and Windows is in progress.<BR><BR></LI>

<LI>More libraries (Unicode, networking, database...).<BR><BR></LI>

<LI>Development environment (GUI, debugger...).<BR><BR></LI>

<LI>Optimised Java byte code. <BR><BR></LI>

<LI>A clean interface between Eiffel and Java in order to write applets
in Eiffel, to easily call Java from Eiffel and Eiffel from Java. <BR><BR></LI>
</UL>

<CENTER><P><!-- BL START --><!-- BL1 START --><IMG SRC="../images/se-line.gif" ALT="[Line]" HEIGHT=16 WIDTH=550>
<BR>
<I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A> <BR>
<!-- hhmts start -->
Last modified: Tue Feb 11 12:26:01 CET 2003
<!-- hhmts end -->
</FONT></I><BR></P></CENTER>

</BODY>
</HTML>
