body {
	color: black;
	background-color: #f9f9f9;
}

a {
	text-decoration: none;
	color: #002bb8;
	background: none;
}

dl {
	padding-left: 1em;
}

li {
	padding-left: 0em;
}

a:visited { color: #5a3696; }
a:active { color: #ffa500; }
a:hover { text-decoration: underline; }
a.stub { color: #772233; }
a.new,
#p-personal a.new { color: #ba0000; }
a.new:visited,
#p-personal a.new:visited { color: #a55858; }

.class_link {
	color: blue;
}

.feature_link {
	color: blue;
}

.nav_link {
	margin-right: 1em;
}

ul {
	list-style: none;
}

ul.wiki_bullet_list {
	list-style: circle outside;
}

ol.wiki_numbered_list {
	list-style: decimal outside;
}

ul.menu {
	background-color: #f9f9f9;
	border-bottom: thin solid #aaaaaa;
	font-family: sans-serif;
	font-size: 12px;
	list-style: none;
	margin-bottom: 0;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 4px;
}

ul.menu > li {
	background-color: white;
	border: thin solid #aaaaaa;
	display: inline;
	color: blue;
	margin-right: 0.5em;
	padding-top: 1px;
	padding-bottom: 4px;
}

ul.menu > li.selected {
	border-top: thin solid #fabd23;
	border-bottom: thin solid white;
	border-left: thin solid #fabd23;
	border-right: thin solid #fabd23;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
}

ul.menu > li > a, ul.menu > li > a:active, ul.menu > li > a:link, ul.menu > li > a:visited, ul.menu > li > a:hover {
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
}

ul.menu > li > a:hover {
	border-bottom: thin solid white;
	padding-bottom: 4px;
}

.root_block {
	background-color: white;
	border-bottom: thin solid #aaaaaa;
	border-left: thin solid #aaaaaa;
	border-right: thin solid #aaaaaa;
	font-family: sans-serif;
	font-size: 12px;
	padding: 0.8em 1em;
	margin-bottom: 1em;
}

.root_head {
	margin-bottom: 2em;
	position: relative;
	z-index: 1;
}

.root_name {
	padding-left: 1em;
	font-size: 20px;
}

.all_clusters_block {
	background-color: #f9f9f9;
	border: thin solid #ccf7cc;
	font-family: sans-serif;
	font-size: 12px;
	margin-bottom: 1em;
}

.all_clusters_head {
	margin-bottom: 1em;
	display: table;
	width: 100%;
}

.all_clusters_head_layout {
	display: table-row;
}

.all_clusters_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	vertical-align: middle;
}

.all_clusters_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #ccf7cc;
	text-align: center;
	vertical-align: middle;
}

.all_clusters_title {
	cursor: help;
	background-color: #eeffee;
	display: table-cell;
	border-bottom: thin solid #ccf7cc;
	border-left: thin solid #ccf7cc;
	border-right: thin solid #ccf7cc;
}

.all_clusters_nav_link {
	display: table-cell;
	text-align: right;
	width: 6em;
}

.all_clusters_name {
	padding-left: 1em;
	font-size: 16px;
}

.all_clusters_comment {
	color: gray;
	padding-left: 4em;
}

.letter_cluster_block {
	padding-left: 2em;
	background-color: #f9f9f9;
	font-family: sans-serif;
	font-size: 12px;
	margin-bottom: 1em;
}

.letter_cluster_head {
	display: table;
	width: 100%;
}

.letter_cluster_head_layout {
	display: table-row;
}

.letter_cluster_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	border-left: thin solid #ccf7cc;
	border-top: thin solid #ccf7cc;
	border-bottom: thin solid #ccf7cc;
}

.letter_cluster_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #ccf7cc;
	text-align: center;
	border-left: thin solid #ccf7cc;
	border-top: thin solid #ccf7cc;
	border-bottom: thin solid #ccf7cc;
}

.letter_cluster_title {
	cursor: help;
	background-color: #eeffee;
	display: table-cell;
	border: thin solid #ccf7cc;
}

.letter_cluster_nav_link {
	display: table-cell;
	text-align: right;
	width: 6em;
}

.letter_cluster_name {
	padding-left: 1em;
	font-size: 16px;
}

.letter_cluster_comment {
	color: gray;
	padding-left: 4em;
}

.cluster_block {
	background-color: #f9f9f9;
	border: thin solid #c6c9ff;
	font-family: sans-serif;
	font-size: 12px;
	margin-bottom: 1em;
}

.cluster_head {
	margin-bottom: 1em;
	display: table;
	width: 100%;
}

.cluster_head_layout {
	display: table-row;
}

.cluster_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	vertical-align: middle;
}

.cluster_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #c6c9ff;
	text-align: center;
	vertical-align: middle;
}

.cluster_title {
	cursor: help;
	background-color: #f0f0ff;
	display: table-cell;
	border-bottom: thin solid #c6c9ff;
	border-left: thin solid #c6c9ff;
	border-right: thin solid #c6c9ff;
}

.cluster_nav_link {
	display: table-cell;
	text-align: right;
	width: 6em;
}

.cluster_name {
	padding-left: 1em;
	font-size: 16px;
}

.sub_cluster_block {
	background-color: #f9f9f9;
	margin-bottom: 1em;
	padding-left: 2em;
	font-family: sans-serif;
	font-size: 12px;
}

.sub_cluster_head {
	display: table;
	width: 100%;
	margin-bottom: 1em;
}

.sub_cluster_head_layout {
	display: table-row;
}

.sub_cluster_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	border-left: thin solid #c6c9ff;
	border-top: thin solid #c6c9ff;
	border-bottom: thin solid #c6c9ff;
}

.sub_cluster_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #c6c9ff;
	text-align: center;
	border-left: thin solid #c6c9ff;
	border-top: thin solid #c6c9ff;
	border-bottom: thin solid #c6c9ff;
}

.sub_cluster_title {
	cursor: help;
	background-color: #f0f0ff;
	display: table-cell;
	border: thin solid #c6c9ff;
}

.sub_cluster_nav_link {
	display: table-cell;
	text-align: right;
	width: 6em;
}

.sub_cluster_name {
	padding-left: 1em;
	font-size: 16px;
}

.sub_cluster_comment {
	color: gray;
	padding-left: 4em;
}

.cluster_comments_block {
	background-color: #f9f9f9;
	margin-bottom: 1em;
	padding-left: 2em;
	font-family: sans-serif;
	font-size: 12px;
}

.cluster_comments_head {
	display: table;
	width: 100%;
}

.cluster_comments_head_layout {
	display: table-row;
}

.cluster_comments_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	border-left: thin solid #ccf7cc;
	border-top: thin solid #ccf7cc;
	border-bottom: thin solid #ccf7cc;
}

.cluster_comments_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #ccf7cc;
	text-align: center;
	border-left: thin solid #ccf7cc;
	border-top: thin solid #ccf7cc;
	border-bottom: thin solid #ccf7cc;
}

.cluster_comments_title {
	cursor: help;
	background-color: #eeffee;
	display: table-cell;
	border: thin solid #ccf7cc;
}

.cluster_comments_nav_link {
	display: table-cell;
	text-align: right;
	width: 6em;
}

.cluster_comments_name {
	padding-left: 1em;
	font-size: 16px;
}

.cluster_comments_comment {
	color: gray;
	padding-left: 4em;
}

.cluster_classes_block {
	background-color: #f9f9f9;
	margin-bottom: 1em;
	padding-left: 2em;
	font-family: sans-serif;
	font-size: 12px;
}

.cluster_classes_head {
	display: table;
	width: 100%;
}

.cluster_classes_head_layout {
	display: table-row;
}

.cluster_classes_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	border-left: thin solid #ccf7cc;
	border-top: thin solid #ccf7cc;
	border-bottom: thin solid #ccf7cc;
}

.cluster_classes_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #ccf7cc;
	text-align: center;
	border-left: thin solid #ccf7cc;
	border-top: thin solid #ccf7cc;
	border-bottom: thin solid #ccf7cc;
}

.cluster_classes_title {
	cursor: help;
	background-color: #eeffee;
	display: table-cell;
	border: thin solid #ccf7cc;
}

.cluster_classes_nav_link {
	display: table-cell;
	text-align: right;
	width: 6em;
}

.cluster_classes_name {
	padding-left: 1em;
	font-size: 16px;
}

.cluster_classes_comment {
	color: gray;
	padding-left: 4em;
}

.points_of_view_block {
	background-color: #f9f9f9;
	border: thin solid #ffad80;
	font-family: sans-serif;
	font-size: 12px;
	float: right;
}

.points_of_view_head {
	display: table;
}

.points_of_view_head_layout {
	display: table-row;
}

.points_of_view_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	vertical-align: middle;
}

.points_of_view_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #ffad80;
	text-align: center;
	vertical-align: middle;
}

.points_of_view_title {
	cursor: help;
	background-color: #fff7cb;
	display: table-cell;
	border-bottom: thin solid #ffad80;
	border-left: thin solid #ffad80;
	border-right: thin solid #ffad80;
}

.points_of_view_current {
	display: table-cell;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	color: gray;
}

.points_of_view_name {
	padding-left: 1em;
	padding-right: 1em;
	font-size: 16px;
}

.summary_block {
	background-color: #f9f9f9;
	border: thin solid #ccf7cc;
	font-family: sans-serif;
	font-size: 12px;
	margin-bottom: 1em;
}

.summary_head {
	margin-bottom: 1em;
	display: table;
	width: 100%;
}

.summary_head_layout {
	display: table-row;
}

.summary_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	vertical-align: middle;
}

.summary_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #ccf7cc;
	text-align: center;
	vertical-align: middle;
}

.summary_title {
	cursor: help;
	background-color: #eeffee;
	display: table-cell;
	border-bottom: thin solid #ccf7cc;
	border-left: thin solid #ccf7cc;
	border-right: thin solid #ccf7cc;
}

.summary_nav_link {
	display: table-cell;
	text-align: right;
	width: 6em;
}

.summary_name {
	padding-left: 1em;
	font-size: 16px;
}

.summary_comment {
	color: gray;
	padding-left: 4em;
}

.summary_keyword {
	color: black;
	font-size: 14px;
	font-weight: bold;
}

.overview_block {
	background-color: #f9f9f9;
	border: thin solid #ccf7cc;
	font-family: sans-serif;
	font-size: 12px;
	margin-bottom: 1em;
}

.overview_head {
	margin-bottom: 1em;
	display: table;
	width: 100%;
}

.overview_head_layout {
	display: table-row;
}

.overview_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	vertical-align: middle;
}

.overview_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #ccf7cc;
	text-align: center;
	vertical-align: middle;
}

.overview_title {
	cursor: help;
	background-color: #eeffee;
	display: table-cell;
	border-bottom: thin solid #ccf7cc;
	border-left: thin solid #ccf7cc;
	border-right: thin solid #ccf7cc;
}

.overview_nav_link {
	display: table-cell;
	text-align: right;
	width: 6em;
}

.overview_name {
	padding-left: 1em;
	font-size: 16px;
}

.overview_comment {
	color: gray;
	font-size: 12px;
	font-style: italic;
	padding-left: 4em;
}

.overview_keyword {
	color: black;
	font-size: 14px;
	font-weight: bold;
}

.overview_clause_comment {
	color: gray;
	font-size: 14px;
	font-weight: bold;
}

.overview_feature_item {
	font-size: 12px;
}

.feature_block {
	background-color: #f9f9f9;
	border: thin solid #c6c9ff;
	font-family: sans-serif;
	font-size: 12px;
	margin-bottom: 1em;
}

.feature_head {
	margin-bottom: 1em;
	display: table;
	width: 100%;
}

.feature_head_layout {
	display: table-row;
}

.feature_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	vertical-align: middle;
}

.feature_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #c6c9ff;
	text-align: center;
	vertical-align: middle;
}

.feature_title {
	cursor: help;
	background-color: #f0f0ff;
	display: table-cell;
	border-bottom: thin solid #c6c9ff;
	border-left: thin solid #c6c9ff;
	border-right: thin solid #c6c9ff;
}

.feature_deferred {
	display: table-cell;
	text-align: center;
	width: 4em;
	border-bottom: thin solid #c6c9ff;
	border-right: thin solid #c6c9ff;
}

.feature_frozen {
	display: table-cell;
	text-align: center;
	width: 4em;
	border-bottom: thin solid #c6c9ff;
	border-right: thin solid #c6c9ff;
}

.feature_attribute {
	display: table-cell;
	text-align: center;
	width: 4em;
	border-bottom: thin solid #c6c9ff;
	border-right: thin solid #c6c9ff;
}

.feature_once {
	display: table-cell;
	text-align: center;
	width: 4em;
	border-bottom: thin solid #c6c9ff;
	border-right: thin solid #c6c9ff;
}

.feature_blank {
	background-color: #f0f0ff;
	display: table-cell;
	border-bottom: thin solid #c6c9ff;
	border-right: thin solid #c6c9ff;
	width: 20em;
}

.feature_nav_link {
	display: table-cell;
	text-align: right;
	width: 6em;
}

.feature_name {
	padding-left: 1em;
	font-size: 16px;
}

.feature_comment {
	color: gray;
	padding-left: 4em;
}

.invariant_block {
	background-color: #f9f9f9;
	border: thin solid #ffc9c9;
	font-family: sans-serif;
	font-size: 12px;
	margin-bottom: 1em;
}

.invariant_head {
	margin-bottom: 1em;
	display: table;
	width: 100%;
}

.invariant_head_layout {
	display: table-row;
}

.invariant_expand_mark {
	cursor: help;
	display: table-cell;
	width: 1em;
	text-align: center;
	vertical-align: middle;
}

.invariant_expand_mark_hover {
	cursor: help;
	display: table-cell;
	width: 1em;
	background-color: #ffc9c9;
	text-align: center;
	vertical-align: middle;
}

.invariant_title {
	cursor: help;
	background-color: #fff3f3;
	display: table-cell;
	border-bottom: thin solid #ffc9c9;
	border-left: thin solid #ffc9c9;
	border-right: thin solid #ffc9c9;
}

.invariant_nav_link {
	display: table-cell;
	text-align: right;
	width: 6em;
}

.invariant_name {
	padding-left: 1em;
	font-size: 16px;
}

.invariant_comment {
	color: gray;
	padding-left: 4em;
}

.assertion_keyword {
}

.assertion_name {
	font-weight: bold;
}

.obsolete_msg {
	font-weight: bold;
}

.obsolete_mark {
	font-style: italic;
}

