<div class="portlet">
<h5>About</h5>
<div class="pBody">
<ul>
  <li><a href="http://smarteiffel.loria.fr/wiki/en/index.php/Introduction">History &amp; goals (Wiki)</a></li>
  <li><a href="http://smarteiffel.loria.fr/wiki/en/index.php/FAQ">FAQ (Wiki)</a></li>
  <li><a href="http://smarteiffel.loria.fr/wiki/en/index.php/Syntax_diagrams">Syntax diagrams (Wiki)</a></li>
</ul>
</div>
</div>
<div class="portlet">
<h5>Download</h5>
<div class="pBody">
<ul>
  <li><a href="http://gforge.inria.fr/frs/?group_id=184">Download direct link</a></li>
  <li><a href="http://smarteiffel.loria.fr/general/download.html">Download info. and mirrors</a></li>
</ul>
</div>
</div>
<div class="portlet">
<h5>Documentation</h5>
<div class="pBody">
<ul>
  <li><a href="http://smarteiffel.loria.fr/wiki/">Wiki main page</a></li>
  <li><a href="http://smarteiffel.loria.fr/libraries/index.html">Standard libs API (se doc)</a></li>
  <li><a href="http://smarteiffel.loria.fr/wiki/en/index.php/Tools">Tools manual (Wiki)</a></li>
  <li><a href="http://smarteiffel.loria.fr/tools/index.html">Tools API (se doc)</a></li>
  <li><a href="http://smarteiffel.loria.fr/wiki/en/index.php/Table_of_contents">The Grand SmartEiffel Book (Wiki)</a></li>
</ul>
</div>
</div>
<div class="portlet">
<h5>Support</h5>
<div class="pBody">
<ul>
  <li><a href="http://smarteiffel.loria.fr/support/mailing-list.html">Mailing list (free support)</a></li>
  <li><a href="http://smarteiffel.loria.fr/wiki/en/index.php/Bug_report">Bug reports</a></li>
  <li><a href="http://gforge.inria.fr/tracker/?group_id=184">Feature requests</a></li>
  <li><a href="http://smarteiffel.loria.fr/support/support.html#premium">Premium support</a></li>
</ul>
</div>
</div>
<div class="portlet">
<h5>Development</h5>
<div class="pBody">
<ul>
  <li><a href="http://gforge.inria.fr/projects/smarteiffel">gforge.inria.fr</a></li>
  <li><a href="http://gforge.inria.fr/scm/?group_id=184">SVN at gforge.inria.fr</a></li>
  <li><a href="http://smarteiffel.loria.fr/misc/people.html">People</a></li>
  <li><a href="http://smarteiffel.loria.fr/papers/papers.html">Research</a></li>
</ul>
</div>
</div>
<div class="portlet">
<h5>Related projects</h5>
<div class="pBody">
<ul>
  <li><a href="http://ese.sourceforge.net/">Enterprise SmartEiffel</a></li>
  <li><a href="http://use.tuxfamily.org/">Useful SmartEiffel</a></li>
  <li><a href="https://gna.org/projects/eiffel-libraries">Eiffel Wrapper Libraries Collection</a></li>
  <li><a href="https://opensvn.csie.org/traccgi/smarteiffel12">SmartEiffel 1.2 [Transitional 1.1-&gt;2.x]</a></li>
</ul>
</div>
</div>
