<ul>
  <li>
    <em>2007/7/11</em> - <a href="http://gforge.inria.fr/frs/?group_id=184">Release 2.3&nbsp;[Antoine-Auguste Parmentier]</a> 
    available - 
    <a href="http://smarteiffel.loria.fr/wiki/en/index.php/Versions_history">Summary of changes</a>.
  </li>
</ul>

<ul>
  <li>
    <em>2007/4/25</em> - A logo was chosen! The swan wins. We, too, now have a bird as a mascot.
  </li>
</ul>
 <ul>
  <li>
    <em>2006/6/14</em> - <a href="http://ese.sourceforge.net/wiki/index.php/Main_Page">Enterprise
    SmartEiffel (ESE)</a> project has born.
  </li>
</ul>

<ul>
  <li>
    <em>2006/6/14</em> - Insertion mechanism
    and <a href="http://smarteiffel.loria.fr/wiki/en/index.php/Typing_policy">new typing policy</a>
    presented at <a href="http://softeng.polito.it/ICSR9/">ICSR 9</a>.
  </li>
</ul>

<ul>
  <li><em>2005/12/19</em> - <strong><a href="http://gforge.inria.fr/frs/?group_id=184">Stable
  Release 2.2 [Pomme de terre]</a></strong> available - 
  <a href="http://smarteiffel.loria.fr/wiki/en/index.php/Versions_history#2.2">Summary of changes</a>.
  </li>
</ul>
