<!-- Title = Bugs summary -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>Bugs Status Report</B></FONT></CENTER>
</TD>
</TR>
</TABLE>
<BR>&nbsp;
<BR>&nbsp;
<B>Note:</B> Statistics are weekly based, even if the web page is not updated so often.

<P>
<CENTER><B>Weekly activity</B><BR>
<IMG SRC="../images/graph1.gif" ALT="[Weekly activity]" >
</CENTER>
</P>

&nbsp;
<P>
<CENTER><B>Open bugs distribution</B><BR>
<FONT SIZE=-1>Bugs are counted as open while they are not marked as closed, even if they are fixed.</FONT>
<BR>
<IMG SRC="../images/graph2.gif" ALT="[Bugs distribution]" >
</CENTER>
</P>


<BR>&nbsp;
<CENTER><IMG SRC="../images/se-line.gif" ALT="[Line]" ></CENTER>
<CENTER><I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne
COLLIN - <A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr></A><BR>
</FONT></I>
<BR>
</CENTER>

</TD>
</TR>
</TABLE>
</BODY>
</HTML>
