<!-- Title = technical information -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>Technical Information</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<BR><BR><BR>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Eiffel language syntax</FONT></TD>
</TR>
</TABLE>
<P>
The <A HREF="../wiki/en/index.php/Syntax_diagrams">syntax</A> page describe the syntax validity for an Eiffel program.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Lessons/Examples</FONT></TD>
</TR>
</TABLE>
<P>
Learning is easier with examples. To get examples provided with SmartEiffel, download and
install SmartEiffel if it is not already done. Examples are distributed in <B>tutorial</B>
directory.
</P>

<P>
Whenever you need some help about some specific part, have a look to the tutorial. Given
examples are both for beginners and experienced Eiffel developpers.
</P>

<P>
Help request: please, we need your feedback and/or help to improve tutorial.
Any help is welcome, thanks!
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2"><A NAME="generated-c">
The SmartEiffel Debugger</A></FONT></TD>
</TR>
</TABLE>
<P>
This is some documentation about <a href="../man/sedb.html">the embedded
SmartEiffel debugger</a>.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2">Research 
Papers</FONT></FONT></TD>
</TR>
</TABLE>

<BR>
<A HREF="../papers/papers.html">All papers here</A> (with summary). 
<BR>
<BR>
Following links goes to the article's summary and full paper download in various formats:
<UL>
<LI><A HREF="../papers/papers.html#JMLC97">Type Inference for Late Binding. 
The SmallEiffel Compiler.</A><BR>
by Suzanne COLLIN, Dominique COLNET and Olivier ZENDRA </LI>
<LI><A HREF="../papers/papers.html#OOPSLA97">Efficient Dynamic Dispatch without Virtual 
Function Tables. The SmallEiffel Compiler.</A><BR>
by Olivier ZENDRA, Dominique COLNET and Suzanne COLLIN. </LI>
<LI><A HREF="../papers/papers.html#ISMM98">Compiler Support to Customize the Mark and
Sweep Algorithm</A><BR>
by Dominique COLNET, Philippe Coucaud and Olivier ZENDRA. </LI>
<LI><A HREF="../papers/papers.html#TOOLSE99">Optimizations of Eiffel programs: 
SmallEiffel, The GNU Eiffel Compiler</A><BR>
by Dominique COLNET and Olivier ZENDRA.</LI>
<LI><A HREF="../papers/papers.html#TOOLSP99">Adding external iterators to an existing 
Eiffel class library.</A><BR>
by Olivier ZENDRA and Dominique COLNET.</LI>
<LI><A HREF="../papers/papers.html#JOT2004">Conformance of agents in the Eiffel language.</A><BR>
by Philippe Ribet, Cyril Adrian, Olivier Zendra, and Dominique Colnet.</LI>
<LI><A HREF="../papers/papers.html#INSERT2005">Non-Conforming Inheritance: 
the SmartEiffel Experiment of a High-Level Mechanism.</A><BR>
by Frederic Merizen, Dominique Colnet, Philippe Ribet and Cyril Adrian.</LI>
</UL>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Calling Eiffel from C</FONT></TD>
</TR>
</TABLE>
<P>
It is easy with SmartEiffel to call Eiffel routines from your external C code, 
although we encourage you to program everything in Eiffel, which is much nicer 
than C!
</P>
<P>
The mechanism allowing C code to call Eiffel routines is called 
<A HREF="../man/cecil.html">Cecil</A>.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Calling External Code from Eiffel</FONT></TD>
</TR>
</TABLE>
<P>It is possible with SmartEiffel to call external code from your Eiffel 
source code. You can call either external C routines, or external Java 
routines.</P>
<P>You are encouraged to use our <A HREF="../man/plugins.html">plugins
system</A>, although the older backend-dependant mechanism still
exists (<A HREF="../man/external.html">there</A>).
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2"><A NAME="generated-c">
A Few Things About the Generated C Code</A></FONT></TD>
</TR>
</TABLE>
<P>
Hmmm... If you're using SmartEiffel, you shouldn't be looking in 
this at all!
<BR>
However, if you <B>do</B> want to tinker with SmartEiffel's guts, 
<A HREF="../man/c_code.html">here are a few things you should know</A>. 
For more information, you'll have to 
look by yourself to the generated C code -- which is not that ugly, since 
the feature names are kept almost unaltered. 
</P>



<CENTER><P>
<IMG SRC="../images/se-line.gif" ALT="[Line]" HEIGHT=16 WIDTH=550>
<BR>
<I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A> <BR>
<BR>
</P></CENTER>
