<!-- Title = system information -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>System Information</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<BR><BR><BR>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Installation</FONT>
<A NAME="platforms"></A></TD>
</TR>
</TABLE>
<P>
Just run the <A HREF="../man/install.html">install</A> command.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Platforms</FONT>
<A NAME="platforms"></A></TD>
</TR>
</TABLE>
<P>
SmartEiffel should run on any platform for which an ANSI C POSIX compiler or
a Java Virtual Machine exists.
<BR>
It has already been successfully used on the following platforms:
</P>
<TABLE BORDER=3 ALIGN=CENTER RULES=all CELLPADDING=2 COLS=4>
<TR ALIGN=center><TD>AIX</TD><TD>Amiga</TD><TD>BeOS</TD><TD>BSD</TD></TR>
<TR ALIGN=center><TD>Cygwin</TD><TD>DOS</TD><TD>FreeBSD</TD><TD>GNU/Hurd</TD></TR>
<TR ALIGN=center><TD>GNU/Linux</TD><TD>HP-UX</TD><TD>IRIX</TD><TD>MacOS</TD></TR>
<TR ALIGN=center><TD>NetBSD</TD><TD>NeXT</TD><TD>OS/2</TD><TD>OSF1</TD></TR>
<TR ALIGN=center><TD>QNX</TD><TD>SCO</TD><TD>Solaris</TD><TD>OpenVMS</TD></TR>
<TR ALIGN=center><TD>Windows 95/98/NT</TD><TD>XENIX</TD><TD>&nbsp;</TD><TD>&nbsp;</TD></TR>
</TABLE>
<P>
If you're using SmartEiffel on a platform that is not listed above, 
please drop us an e-mail.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">System Configuration
</FONT></TD>
</TR>
</TABLE>
<P>
You should have little configuration information to update when
changing your development system. Basically, everything is set in the
configuration file. This file is created during the installation of
SmartEiffel<BR> <A HREF="../man/system.html">Click here</A> for more
information.
</P>

<CENTER><P>
<IMG SRC="../images/se-line.gif" ALT="[Line]" HEIGHT=16 WIDTH=550>
<BR>
<I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A> <BR>
<!-- hhmts start -->
Last modified: Tue Feb 11 12:31:09 CET 2003
<!-- hhmts end -->
<BR>
</P></CENTER>
