<!-- Title = calling external code from Eiffel -->
<table border="0" cellspacing="5" cellpadding="5" cols="1" width="100%" bgcolor="#3366FF">
<tr>
<td>
<center><font color="#FFFFFF" size="+3"><b>Plugins</b></font></center>
</td>
</tr>
</table>
<br><br>

<p>
Plugins are a way to tremendously extend SmartEiffel's capacities by
adding libraries that look, feel and behave as native libraries (the
SmartEiffel-provided libraries). They are an extension of the
well-known Eiffel mechanism: <a href="external.html">externals</a>.
</p>

<p>
Plugins aim at back-end independance: it means that potentially, the
same library could be used with either <tt>compile_to_c</tt> or
<tt>compile_to_jvm</tt>. Note that we envision other back-ends in the
future, so the plugins system is really an important one.
</p>

<br>
<table border="0" cols=1 width="100%" bgcolor="#3366FF">
<tr>
<td><font color="#FFFFFF" size="+2">How does it work?</font></td>
</tr>
</table>

<p>
There are two related parts in a plugin:
</p>
<ul>
<li>the Eiffel side, which provides an interface useable by other
Eiffel objects;</li>
<li>the external side, which implements the plugin interface in one or
more back-end (e.g. C and Java).</li>
</ul>
<p>
The Eiffel side is pure Eiffel code, but uses external statements that
access to the external side of the plugin.
</p>
<p>
The compiler maps the external calls to the Eiffel parts, using helper
files provided by the plugin.
</p>

<br>
<table border="0" cols=1 width="100%" bgcolor="#3366FF">
<tr>
<td><font color="#FFFFFF" size="+2">The Eiffel side</font></td>
</tr>
</table>

<p>
The Eiffel side of the plugin is made of external statements. The
require syntax is:
</p>

<pre>
<b>feature</b>
   my_plugin_feature is
      <b>external</b> "plug_in"
      <b>alias</b> &quot;{
         <i>location:</i> "/path/to/my/plugins/directory"
         <i>module_name:</i> "my_plugin"
         <i>feature_name:</i> "feature"
      }&quot;
</pre>

Of course, a feature can take arguments and return a result! (That's
an external after all). Beware that you should only pass and return
really basic types to an external feature: either a basic expanded
object (<tt>INTEGER</tt>, <tt>BOOLEAN</tt> and so on) or a
<tt>POINTER</tt> (the classic use is <tt>a_string.to_external</tt>).

<p>
The <b>location</b> points to the directory wher you store one or more
of your plugins. It may contain environment variables (either genuine
environment variables, or variables defined in the
<tt>[Environment]</tt> section of your <a
href="system.html#systems">configuration file</a>). For example, the
standard libraries of SmartEiffel are defined with the following
location:
</p>

<pre>
         <i>location:</i> "${sys}plugins"
</pre>

<p>
The <b>module_name</b> is indeed the name of the plugin. It should be
a subdirectory of the <b>location</b> and contain a directory per
backend (e.g. "c" for the C backend and "java" for the Java
backend). The contents of each backend-subdirectory depends on the
backend, and will be explained in further details below.
</p>

<p>
At last, the <b>feature_name</b> is the name of the feature, function,
method or whatever is called in that backend (e.g. C backend calls a
function, whereas a Java backend calls a method.) Whatever; it's a
feature.
</p>

<br>
<table border="0" cols=1 width="100%" bgcolor="#3366FF">
<tr>
<td><font color="#FFFFFF" size="+2">The C backend</font></td>
</tr>
</table>

<p>
The C backend expects files in a subdirectory of your plugin named
"c". The recognized files are:
</p>

<ul>
<li>any <tt>.c</tt> file, which will be inlined in one of the
generated C files</li>
<li>any <tt>.h</tt> file, which will be inlined in the generated
header file</li>
<li>the <tt>libs</tt> file, which contains a description of the
libraries that should be linked</li>
<li>the <tt>paths</tt> file, which contains a description of the
library paths to add in order to find the linked libraries</li>
</ul>

<p>
The <b><tt>.c</tt> files</b> and then <b><tt>.h</tt> files</b> are
included in alphabetical order. It helps if some dependancy management
has to take place between the files of your plugin.
</p>

<p>
The <b><tt>libs</tt> file</b> and the <b><tt>paths</tt> file</b> use a
<tt>.INI</tt>-like syntax (the same syntax as the <a
href="system.html#systems">configuration file</a>).

<br>
The recognized sections are those named after the operating system the
plugin is compiled with, maybe suffixed by the used C compiler (system
and compiler are separated by a dot). The known operating systems are
the ones used by the <tt>os</tt> key in the <a
href="system.html#systems">configuration file</a>. The known compilers
are the ones used with c_modes.

<br>
The keys are merely informative, but the values are used by the
generated command line (resp. using <tt>-l</tt> and <tt>-L</tt> or
whatever equivalent).

<br>
For an example, look at the Vision configuration files.
</p>

<br>
<table border="0" cols=1 width="100%" bgcolor="#3366FF">
<tr>
<td><font color="#FFFFFF" size="+2">The Java backend</font></td>
</tr>
</table>

<p>
<i>to be written</i>
</p>