<!-- Title = the 'pretty' command -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>The <TT>pretty</TT> Command</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<BR><BR><BR>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Usage</FONT></TD>
</TR>
</TABLE>


<P>
<TT>se pretty [options] &lt;source_file&gt; ...</TT>
</P>
<P>
Command <TT>pretty</TT> is the SmartEiffel pretty-printer (code beautifier) for Eiffel source files. 
The <TT>source_file</TT> argument must be some existing Eiffel source file
path as for example "<TT>integer.e</TT>" or "<TT>lib/kernel/integer.e</TT>".
<BR>
One can specify more than one file name at a time in order to apply the <TT>pretty</TT> command on many files.
All the corresponding files are reprinted in a <TT>pretty</TT> way.
</P>

<P>
There are four modes of pretty-printing: <I>-zen</I>, <I>-default</I>,
<I>-end</I> and <I>-parano</I> mode. Only one mode can be selected and
mode <I>-default</I> is the default mode.
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Options for Pretty Printing</FONT></TD>
</TR>
</TABLE>
<P>
<DL COMPACT>

<DT>
<I>-help</I>:<BR>
<DD>
Display a brief summary of the command-line syntax and a complete
list of <TT>pretty</TT> options.
<BR><BR>
<DT>

<DT>
<I>-version</I>:<BR>
<DD>
Show the number of the version of SmartEiffel you're using.
<BR><BR>

<DT><I>
-zen</I>:<BR><DD>
   The less you can print (i.e. very compact output). 
   No end mark comment for routines. 
   No end comments for statements (if, inspect, debug, ...). 
<BR><BR>

<DT><I>
-default</I>:<BR><DD>
   The default mode. This is close to what we are using for our library.
<BR><BR>

<DT><I>
-end</I>:<BR><DD>
   Same printing as for previous mode but also print end mark comments
   for all routines.
<BR><BR>

<DT><I>
-parano</I>:<BR><DD>
   Same printing as for previous mode but also print end mark comments 
   for all statements (if, inspect, debug, ...).
<BR><BR>

<DT>
<I>-no_style_warning</I>:<BR><DD>
   Suppress output for warning messages related to non respect of standard Eiffel 
   style guidelines (for example <CODE>ItEm</CODE> will not trigger a warning).
<BR><BR>


<DT><I>
-no_warning</I>:<BR><DD>
Suppress output for all warning messages (error messages
   are still printed).
<BR><BR>




</DL>
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Security and BackUp File</FONT></TD>
</TR>
</TABLE>
<P>
For the security of sources files, a backup file is created
before writing the new file (the system or the <TT>pretty</TT> command may
crash during printing of the new file).
The backup file name is "foo.bak" when source file name is
"foo.e". Backup file is written in the same directory as
source file.
<BR><BR>
If an old backup file already exists before pretty printing,
the <TT>pretty</TT> command exits with an error message.
To be sure that the pretty-printing is well done, the output
file is parsed again.
<BR><BR>
Even if second parsing gives no errors, backup file is NOT
removed. Thus you can recompile your Eiffel code to check
new file before removing backup file by yourself.
</P>

<CENTER>
<IMG SRC="../images/se-line.gif" ALT="[Line]">
<BR>
<FONT SIZE="-1"><I>
Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A>
<BR>
<!-- hhmts start -->
Last modified: Tue Feb 11 12:16:31 CET 2003
<!-- hhmts end -->
<BR>
</I></FONT><BR></CENTER>
