<!-- Title = the 'se' command -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>The <TT>se</TT> Command</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<BR><BR><BR>

The <TT>se</TT> command is the SmartEiffel front-end tool.  This tool
is able to call all other the tools of the SmartEiffel suite:

<ul>

<li><a href="compile.html">compile</a></li>
<li><a href="compile_to_c.html">compile_to_c</a></li>
<li><a href="clean.html">clean</a></li>
<li><a href="compile_to_jvm.html">compile_to_jvm</a></li>
<li><a href="pretty.html">pretty</a></li>
<li><a href="short.html">short</a></li>
<li><a href="finder.html">finder</a></li>
<li><a href="ace_check.html">ace_check</a></li>
<li><a href="class_check.html">class_check</a></li>
<li><a href="print_jvm_class.html">print_jvm_class</a></li>
<li><a href="eiffeldoc.html">eiffeldoc</a></li>

</ul>


<!-- BL START -->
<!-- BL1 START -->
<CENTER>
<IMG SRC="../images/se-line.gif" ALT="[Line]">
<BR>
<FONT SIZE="-1"><I>
Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A>
<BR>
<!-- hhmts start -->
Last modified: Sat May  7 22:36:07 CEST 2005
<!-- hhmts end -->
<BR>
</I></FONT><BR></CENTER>
