<!-- Title = the 'short' command -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>The <TT>short</TT> Command</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<BR><BR><BR>

The <TT>short</TT> command is the SmartEiffel interface generator.
Using a plain Eiffel source file, the <TT>short</TT> command prints on
the standard output the interface of this class.
The <TT>short</TT> command is also a good tool to performs many
validity checks of a given class (syntax, exportation rules,
inheritance, etc.).
There are two invocation modes: <I>traditional</I> and <I>ACE</I>.
<BR>
<BR>
<B>Note that features from ANY are not printed unless the class you are shorting is ANY or feature from ANY is redefined.</B>
<P><TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Usage</FONT></TD>
</TR>
</TABLE>
<P>
<FONT COLOR="#FF00FF"><B>Traditional mode</B></FONT>
<BR>
<TT>se short [format] [options] &lt;Class&gt;</TT>
<P>
<P>
<FONT COLOR="#FF00FF"><B>ACE mode</B></FONT>
<BR>
<TT>se short [format] [options]  &lt;ACEfile.ace&gt; &lt;Class&gt;</TT>
<P>
</P>

<P>
The <code>short</code> command prints on the standard output the 
interface of the given &lt;Class&gt;.
<BR>
The default <TT>format</TT> is <code>-plain</code>: no special 
characters are added.
<BR>
The <TT>short</TT> command is customisable and some predefined 
formats are already available (see below for predefined 
formats and how to add a new output format).
When ACE mode is used, as usual, the 
<A HREF="../man/system.html#loadpath"><code>"loadpath.se"</code></A>
is ignored and only the content of the ACE file is used to look for
the Eiffel source code.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Options</FONT></TD>
</TR>
</TABLE>
<P>
<DL COMPACT>

<DT>
<I>-help</I>:<BR>
<DD>
Display a brief summary of the command-line syntax and a complete
list of compiler options.
<BR><BR>

<DT>
<I>-verbose</I>:<BR><DD>
 Print system information during the compilation (full path of 
   files loaded, type inference score, removed files, etc.).
<BR><BR>

<DT>
<I>-version</I>:<BR><DD>
Display the version number of the SmartEiffel release you're using.
<BR><BR>

<DT>
<I>-loadpath &lt;loadpath_file&gt;</I>:<BR><DD>
Adds a loadpath file for class lookup. See details
in the <A HREF="../man/finder.html"><TT>finder man page</TT></A>.



<DT><I>
-sort</I>:<BR><DD>
Features are sorted alphabetically.
<BR><BR>

<DT><I>
-short</I>:<BR><DD>
Does not consider inherited features.
<BR><BR>

<DT>
<I>-no_style_warning</I>:<BR><DD>
Suppress output for warning messages related to non respect of standard Eiffel 
style guidelines (for example <CODE>ItEm</CODE> will not trigger a warning).
<BR><BR>


<DT><I>
-no_warning</I>:<BR><DD>
Suppresses output for all warning messages (error messages
   are still printed). Implies -no_style_warning.
<BR><BR>

<DT><I>
-client &lt;client_class&gt;</I>:<BR><DD>
Specify the class whom the point of view is taken of. This command allow to know all features visible to <TT>client_class</TT> from the class you short.<BR>
Note1: default is equivalent to <I>-client&nbsp;ANY</I>.<BR>
Note2: <TT>se short -client class class</TT> does not show all features from class, only features exported to itself are printed (callable via qualified calls).<BR>

<DT><I>
-all_clients</I>:<BR><DD>
To display all features even those which are not exported.<BR>

</DL>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Predefined Output Formats</FONT></TD>
</TR>
</TABLE>

<DL COMPACT>

<DT><I>-plain</I>:<BR><DD>
The default compact output format. No special character added.
<BR><BR>

<DT><I>-pretty</I>:<BR><DD>
Basically, it is similar to <I>-plain</I> except that there are a
couple of additional line-feeds (e.g. between features) that make the
structure of the output easier to read. (It sort of appears like the
"pretty" printer would have done it, that's why "-pretty").
<BR><BR>

<DT><I>-tex1</I>:<BR><DD>
Simple output mode for TeX.
Encloses the interface in a simple <code>verbatim</code>
TeX environment.
<BR><BR>

<DT><I>-tex2</I>:<BR><DD>
Output mode for TeX.
Uses a TeX <code>alltt</code> environment with a <code>\bf</code>
font for keywords, <code>\it</code> font for comments and 
<code>\tt</code> font for identifiers.
<BR><BR>

<DT><I>-tex3</I>:<BR><DD>
Output mode for TeX.
Follows style guidelines given in ETL appendix A.
As the previous mode, this mode also uses a TeX 
<code>alltt</code> environment.
<BR><BR>

<DT><I>-html1</I>:<BR><DD>
A nice HTML output (provided by Matthias Klose).
<BR><BR>

<DT><I>-html2</I>:<BR><DD>
Another nice HTML output too. 
This one is the one used to generate the 
<A HREF="http://SmartEiffel.loria.fr/libraries/classes.html">
library interface of the SmartEiffel
</A>
WEB site.
<BR><BR>

<DT><I>-html_css</I>:<BR><DD>
A nice HTML+CSS output (provided by John E. Perry). The CSS file is seshort.css.
<BR><BR>

</DL>
<BR>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Adding a New Output Format</FONT></TD>
</TR>
</TABLE>
<P>
To define a new output format, you have to add a new sub-directory in 
the SmartEiffel "short" directory. In order to change the output, this 
new directory must contains various hook files, which contain text used
to replace the default output.
<BR>
Here is the current list of hook files.
</P><P>
&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>1. Changing the output for the class interface header</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook000"</B></FONT> - If this hook file exists, the contents of this file is 
   printed very first.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook010"</B></FONT> - If this hook file exists, and if the processed class
   is an expanded one, the contents of this file is printed before 
   the class name to replace the default string 
   "expanded class interface ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook011"</B></FONT> - If this hook file exists, and if the processed class
   is an deferred one, the contents of this file is printed before 
   the class name to replace the default string 
   "deferred class interface ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook012"</B></FONT> - If this hook file exists, and if the processed class
   is an ordinary one (not deferred nor expanded) the contents of 
   this file is printed before the class name to replace the default
   string "class interface ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook013"</B></FONT> _ If this hook file exists, the contents of this file is 
   printed before the class name whatever the kind of class (expanded,
   deferred or ordinary) to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook014"</B></FONT> - If this hook exists, the contents of the file is printed 
   after the class name to replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook015"</B></FONT> - If this hook file exists, and if a class header comment 
   is present, this file is printed once before the heading class
   comment.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook016"</B></FONT> - If this hook file exists, and if an heading comment is 
   present, the contents of this file is printed to replace the default
   string "   --" at the beginning of each comment line.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook017"</B></FONT> - If this hook file exists, and if an heading comment is 
   present, the contents of this file is printed to replace the default
   string "%N" at the end of each comment line.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook018"</B></FONT> - If this hook file exists, and if a class heading comment is
   present, the contents of this file is printed once after the heading
   comment.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook019"</B></FONT> - If this hook file exists, and if the processed class has no
   heading comment, this file is printed once.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>2. Changing the output for the creation list</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook100"</B></FONT> - If it exists, this file is printed before the creation list 
   to replace the default string "creation%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook101"</B></FONT> - If it exists, this file is printed after the creation list 
   to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook102"</B></FONT> - If it exists, this file is printed when the class has no 
   creation list.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>3. Changing the output for the feature list</B></FONT>
<DL  COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook200"</B></FONT> - If exists, printed before the feature list when option -sort
   is selected to replace the default string "feature(s)%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook201"</B></FONT> - If exists, printed after the feature list when option -sort
   is selected to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook202"</B></FONT> - If exists, printed before each feature list with no heading
   comment to replace the default string "feature(s) from ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook203"</B></FONT> - If exists, printed after the class name of "hook202" to 
   replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook204"</B></FONT> - If exists, printed before a feature list with a heading
   comment to replace the default string "feature(s) from ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook205"</B></FONT> - If exists, printed after the class name introduced at 
   "hook204" to replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook206"</B></FONT> - If exists, printed before each line of the feature list 
   comment to replace the default string "   --".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook207"</B></FONT> - If exists, printed after each line of the feature list 
   comment to replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook208"</B></FONT> - If exists, printed after a feature list comment to replace
   the default empty string "".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>4. Changing the output for a feature signature</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook300"</B></FONT> - If this hook exists, the contents of this file is printed 
   before each feature to replace the default string "   ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook301"</B></FONT> - If this hook exists, the contents of this file is printed 
   once when the feature has no arguments to replace the default
   empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook302"</B></FONT> - If this hook exists, the contents of this file is printed 
   once when the feature has arguments to replace the default
   string " (".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook303"</B></FONT> - If this hook exists, the contents of this file is printed 
   when the feature has arguments to replace the default
   string " ;".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook304"</B></FONT> - If this hook exists, the contents of this file is printed 
   when the feature has arguments to replace the default
   string ", ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook305"</B></FONT> - If this hook exists, the contents of this file is printed 
   when the feature has arguments to replace the default
   string ": ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook306"</B></FONT> - If this hook exists, the contents of this file is printed 
   once when the feature has arguments to replace the default 
   string ")".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook307"</B></FONT> - If this hook exists, the contents of this file is printed
   once when the feature has no result to replace the default
   string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook308"</B></FONT> - If this hook exists, the contents of this file is printed
   once before the result type of the feature to replace the default
   string ": ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook309"</B></FONT> - If this hook exists, the contents of this file is printed
   once after the result type of the feature to replace the default 
   string "%N".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>5. Changing the output for a feature comment</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook310"</B></FONT> - If this hook file exists, and if a feature has a heading
   comment, this file is printed once before the comment.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook311"</B></FONT> - If this hook file exists, and if a feature has a heading
   comment, the contents of this file is printed to replace the
   default string "      --" at the beginning of each comment line.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook312"</B></FONT> - If this hook file exists, and if a feature has a heading 
   comment, the contents of this file is printed to replace the default
   string "%N" at the end of each comment line.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook313"</B></FONT> - If this hook file exists, and if a feature has a heading 
   comment, the contents of this file is printed once after this
   comment.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook314"</B></FONT> - If this hook file exists, and if a feature has no heading
   comment, the contents of this file is printed.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook315"</B></FONT> - If this hook file exists, and if a feature is deferred, 
   the contents of this file is printed.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>6. Changing the output for require clauses</B></FONT>
<BR><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>6.1. For the header of a require clause</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook400"</B></FONT> - If this hook file exists, and if a feature has no require
   assertion, the contents of this file is printed to replace the 
   default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook401"</B></FONT> - If this hook file exists, and if a feature has one require
   assertion, the contents of this file is printed before the latest 
   inherited assertion to replace the default string "      require%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook402"</B></FONT> - If this hook file exists, and if a feature has more than
   one require assertion, the contents of this file is printed before
   the require assertion to replace the default string
   "      require else%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook403"</B></FONT> - If this hook file exists, and if a feature has at least one
   require assertion, the contents of this file is printed to finish the
   job (once after the last printed require assertion) to replace the 
   default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook412"</B></FONT> - If exists, printed when a require clause has no heading 
   comment to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook413"</B></FONT> - If exists, printed once before the require clause heading 
   comment to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook414"</B></FONT> - If exists, printed before each line of the heading comment to 
   replace the default string "         --".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook415"</B></FONT> - If exists, printed after each line of the heading comment to 
   replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook416"</B></FONT> - If exists, printed once after the require clause heading 
   comment.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook417"</B></FONT> - If exists, printed when a require clause has no assertion to 
   replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook418"</B></FONT> - If exists, printed once before the first assertion of a 
   require clause to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook433"</B></FONT> - If exists, printed once after the last assertion of a
   require clause to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook434"</B></FONT> - If exists, printed to finish a require clause to replace 
   the default empty string "".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>6.2. For each assertion in a require clause</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook419"</B></FONT> - If exists, printed before each assertion of a require clause
   to replace the default string "         ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook420"</B></FONT> - If exists, printed when an assertion has no tag to replace the
   default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook421"</B></FONT> - If exists, printed before a tag to replace the default empty
   string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook422"</B></FONT> - If exists, printed after a tag to replace the default 
   string ": ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook423"</B></FONT> - If exists, printed when the assertion has no expression to 
   replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook424"</B></FONT> - If exists, printed before the expression to replace the default
   empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook425"</B></FONT> - If exists, printed after the expression (except for the last 
   assertion) to replace the default string ";".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook426"</B></FONT> - If exists, printed when an assertion has no comment to replace
   the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook427"</B></FONT> - If exists, printed once before the assertion comment to
   replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook428"</B></FONT> - If exists, printed before each line of the expression comment
   to replace the default string " --".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook429"</B></FONT> - If exists, printed after each line of the expression comment to 
   replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook430"</B></FONT> - If exists, printed once after the assertion's comment to replace 
   the default string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook431"</B></FONT> - If exists, printed after the assertion to replace the default 
   empty string "".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>6.3. For the last assertion in a require clause</B></FONT>
<P>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Same hook file list as described in section 6.2 except "hook425" which
becomes :
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook432"</B></FONT> - If exists, printed after the last expression to replace the 
   default empty string "".
</DL>
</P>
&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>7. Changing the output for ensure clauses</B></FONT>
<BR><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>7.1. For the header of the ensure clause</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook500"</B></FONT> - If this hook file exists, and a feature has no ensure
   clause, the contents of this file is printed to replace the default
   empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook511"</B></FONT> - If this hook file exists, the contents of this file is 
   printed before each ensure clause to replace the default string 
   "      ensure%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook512"</B></FONT> - If exists, printed when ensure clause has no heading comment 
   to replace default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook513"</B></FONT> - If exists, printed once before the ensure clause heading 
   comment to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook514"</B></FONT> - If exists, printed before each line of the heading comment to 
   replace the default string "         --".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook555"</B></FONT> - If exists, printed after each line of the heading comment to 
   replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook516"</B></FONT> - If exists, printed once after the ensure clause heading 
   comment.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook517"</B></FONT> - If exists, printed when an ensure clause has no assertion to 
   replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook518"</B></FONT> - If exists, printed once before the first assertion of the
   ensure clause to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook533"</B></FONT> - If exists, printed once after the last assertion of the
   ensure clause to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook534"</B></FONT> - If exists, printed to finish the ensure clause to replace 
   the default empty string "".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>7.2. For each assertion in the ensure assertion</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook519"</B></FONT> - If exists, printed before each assertion of the ensure clause
   to replace the default string "         ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook520"</B></FONT> - If exists, printed when an assertion has no tag to replace the
   default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook521"</B></FONT> - If exists, printed before a tag to replace the default empty
   string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook522"</B></FONT> - If exists, printed after a tag to replace the default 
   string ": ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook523"</B></FONT> - If exists, printed when the assertion has no expression to 
   replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook524"</B></FONT> - If exists, printed before the expression to replace the default
   empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook525"</B></FONT> - If exists, printed after the expression (except for the last 
   assertion) to replace the default string ";".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook526"</B></FONT> - If exists, printed when an assertion has no comment to replace
   the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook527"</B></FONT> - If exists, printed once before the assertion comment to
   replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook528"</B></FONT> - If exists, printed before each line of the expression comment
   to replace the default string " --".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook529"</B></FONT> - If exists, printed after each line of the expression comment
   to replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook530"</B></FONT> - If exists, printed once after the assertion's comment to replace 
   the default string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook531"</B></FONT> - If exists, printed after the assertion to replace the default 
   empty string "".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>7.3. For the last assertion in the ensure clause</B></FONT>
<P>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Same hook files list as described in section 7.2 except "hook525" which
becomes :
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook532"</B></FONT> - If exists, printed after the last expression to replace the 
   default empty string "".
</DL>
</P>
&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>8. Changing the output after each feature</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook599"</B></FONT> - If exists, printed after each feature to replace the default
   empty string "".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>9. Changing the output for the class invariant</B></FONT>
<BR><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>9.1. For the header of the class invariant</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook800"</B></FONT> - If this hook file exists, and when no class invariant exists,
   the contents of this file is printed to replace the default empty 
   string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook811"</B></FONT> - If this hook file exists, the contents of this file is 
   printed before the class invariant to replace the default string 
   "invariant%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook812"</B></FONT> - If exists, printed when class invariant has no heading comment 
   to replace default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook813"</B></FONT> - If exists, printed once before the invariant heading comment to
   replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook814"</B></FONT> - If exists, printed before each line of the heading comment to 
   replace the default string "   --".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook855"</B></FONT> - If exists, printed after each line of the heading comment to 
   replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook816"</B></FONT> - If exists, printed once after the invariant heading comment.
<BR><BR>
<FONT COLOR="#50a050"><B>"hook817"</B></FONT> - If exists, printed when class invariant has no assertion to 
   replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook818"</B></FONT> - If exists, printed once before the first assertion of the
   class invariant to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook833"</B></FONT> - If exists, printed once after the last assertion of the
   class invariant to replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook834"</B></FONT> - If exists, printed to finish the class invariant to replace 
   the default empty string "".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>9.2. For each assertion in the class invariant</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook819"</B></FONT> - If exists, printed before each assertion of the class invariant 
   to replace the default string "   ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook820"</B></FONT> - If exists, printed when an assertion has no tag to replace the
   default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook821"</B></FONT> - If exists, printed before a tag to replace the default empty
   string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook822"</B></FONT> - If exists, printed after a tag to replace the default 
   string ": ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook823"</B></FONT> - If exists, printed when the assertion has no expression to 
   replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook824"</B></FONT> - If exists, printed before the expression to replace the default
   empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook825"</B></FONT> - If exists, printed after the expression (except for the last 
   assertion) to replace the default string ";".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook826"</B></FONT> - If exists, printed when an assertion has no comment to replace
   the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook827"</B></FONT> - If exists, printed once before the assertion comment to
   replace the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook828"</B></FONT> - If exists, printed before each line of the expression comment
   to replace the default string " --".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook829"</B></FONT> - If exists, printed after each line of the expression comment 
   to replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook830"</B></FONT> - If exists, printed once after the assertion's comment to replace 
   the default string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook831"</B></FONT> - If exists, printed after the assertion to replace the default 
   empty string "".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>9.3. For the last assertion in the class invariant</B></FONT>
<P>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Same hook files list as described in section 9.2 except "hook825" which
becomes :
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook832"</B></FONT> - If exists, printed after the last expression to replace the 
   default string ";".
</DL>
</P>
&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>10. Changing the output for the class interface footer</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"hook900"</B></FONT> - When exists, printed once before class footer to replace 
   the default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook901"</B></FONT> - When exists, printed once at the end of an expanded class 
   before the class name to replace the default "end of expanded ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook902"</B></FONT> - When exists, printed once at the end of a deferred class
   before the class name to replace the default "end of deferred ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook903"</B></FONT> - When exists, printed once at the end of an ordinary (not
   expanded nor deferred) class, before the class name to replace the
   default string "end of ".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook904"</B></FONT> - When exist, printed just before the class name to replace the
   default empty string "".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook905"</B></FONT> - When exists, the contents of this file is printed after the
   class name to replace the default string "%N".
<BR><BR>
<FONT COLOR="#50a050"><B>"hook999"</B></FONT> - If this hook file exists, the contents of this file is 
   printed once to finish the job.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>11. Class name and formal generic arguments</B></FONT>
<BR><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>11.1 Changing the output for class names</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"Bcn"</B></FONT> - When exists, printed Before each class name.
<BR><BR>
<FONT COLOR="#50a050"><B>"Mcn"</B></FONT> - When exists, the corresponding class name is
printed one more time (using lower case letters) just before the contents 
of this hook file.
<BR><BR>
<FONT COLOR="#50a050"><B>"Acn"</B></FONT> - When exists, printed After each class name.
<BR><BR>
<FONT COLOR="#50a050"><B>"Ucn"</B></FONT> - To replace the Underscore character in a class name.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>11.2 Changing the output for formal generic arguments</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"Bfga"</B></FONT> - When exists, printed Before each formal generic argument.
<BR><BR>
<FONT COLOR="#50a050"><B>"Mfga"</B></FONT> - When exists, the corresponding formal generic argument is
printed one more time (using lower case letters) just before the contents 
of this hook file.
<BR><BR>
<FONT COLOR="#50a050"><B>"Afga"</B></FONT> - When exists, printed After each formal generic argument.
<BR><BR>
<FONT COLOR="#50a050"><B>"Ufga"</B></FONT> - To replace the Underscore character in a formal generic argument.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>12. Changing the output for a type mark</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"Btm"</B></FONT> - When exists, printed Before each type mark.
<BR><BR>
<FONT COLOR="#50a050"><B>"Atm"</B></FONT> - When exists, printed After each type mark.
<BR><BR>
<FONT COLOR="#50a050"><B>"open_sb"</B></FONT> - To replace the opening square bracket (default "[").
<BR><BR>
<FONT COLOR="#50a050"><B>"close_sb"</B></FONT> - To replace the closing square bracket (default "]").
<BR><BR>
<FONT COLOR="#50a050"><B>"fgl_sep"</B></FONT> - To replace the default comma ", " in a formal generic argument list.
<BR><BR>
<FONT COLOR="#50a050"><B>"tm_blank"</B></FONT> - To replace a blank character in a type mark.
<BR><BR>
<FONT COLOR="#50a050"><B>"tm_sep"</B></FONT> - To replace default string ", " as a separator in a generic list.
<BR><BR>
<FONT COLOR="#50a050"><B>"like"</B></FONT> - To replace the default string "like ".
<BR><BR>
<FONT COLOR="#50a050"><B>"expanded"</B></FONT> - To replace the default string "expanded ".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>13. Changing the output for feature names</B></FONT>
<BR><BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>13.1. Simple feature names</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"Bsfn"</B></FONT> - When exists, printed Before each Simple Feature Name.
<BR><BR>
<FONT COLOR="#50a050"><B>"Asfn"</B></FONT> - When exists, printed After each Simple Feature Name.
<BR><BR>
<FONT COLOR="#50a050"><B>"Usfn"</B></FONT> - To replace the underscore character in a simple feature name.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>13.2. Infix feature names</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"Bifn"</B></FONT> - When exists, replaces the default string "infix %"" Before an 
   infix feature name definition.
<BR><BR>
<FONT COLOR="#50a050"><B>"Aifn"</B></FONT> - When exists, replaces the default string "%"" to close "Bifn".
<BR><BR>
<FONT COLOR="#50a050"><B>"Binfix"</B></FONT> - When exists, replaces the default string " " printed before
   the infix name used in an expression.
<BR><BR>
<FONT COLOR="#50a050"><B>"Ainfix"</B></FONT> - When exists, replaces the default string " " printed after
   the infix name used in an expression.
<BR><BR>
<FONT COLOR="#50a050"><B>"rem"</B></FONT> - When exists, replaces the default string "\\".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#e000e0"><B>13.3. Prefix feature names</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"Bpfn"</B></FONT> - When exists, replaces the default string "prefix %"" Before a
   prefix feature name definition.
<BR><BR>
<FONT COLOR="#50a050"><B>"Apfn"</B></FONT> - When exists, replaces the default string "%"" to close "Bpfn".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>14. Changing the output for an argument name</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"Ban"</B></FONT> - When exists, printed Before each argument name.
<BR><BR>
<FONT COLOR="#50a050"><B>"Aan"</B></FONT> - When exists, printed after each argument name.
<BR><BR>
<FONT COLOR="#50a050"><B>"Uan"</B></FONT> - To replace the Underscore character in an argument name.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>15. Changing the output for a tag name</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"Btag"</B></FONT> - When exists, printed Before each tag name.
<BR><BR>
<FONT COLOR="#50a050"><B>"Atag"</B></FONT> - When exists, printed after each tag name.
<BR><BR>
<FONT COLOR="#50a050"><B>"Utag"</B></FONT> - To replace the Underscore character in a tag name.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>16. Changing the output for an effective argument list</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"op_eal"</B></FONT> - To replace the default string "(" to open an effective argument list.
<BR><BR>
<FONT COLOR="#50a050"><B>"eal_sep"</B></FONT> - To replace the default
string ", " in an effective argument list.
<BR><BR>
<FONT COLOR="#50a050"><B>"cl_eal"</B></FONT> - To replace the default string ")" for an effective argument list.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>17. Changing the output for manifest strings</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"open_ms"</B></FONT> - To replace the default opening string "%"".
<BR><BR>
<FONT COLOR="#50a050"><B>"close_ms"</B></FONT> - To replace the default closing string "%"".
<BR><BR>
<FONT COLOR="#50a050"><B>"Prcnt_ms"</B></FONT> - To replace a % character inside a manifest string.
<BR><BR>
<FONT COLOR="#50a050"><B>"Slash_ms"</B></FONT> - To replace a / character inside a manifest string.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>18. Changing the output for a manifest array</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"op_ma"</B></FONT> - To replace the default string "&lt;&lt;" to open a manifest array.
<BR><BR>
<FONT COLOR="#50a050"><B>"ma_sep"</B></FONT> - To replace the default string ", " in a manifest array.
<BR><BR>
<FONT COLOR="#50a050"><B>"cl_ma"</B></FONT> - To replace the default string "&gt;&gt;" to close a manifest array.
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>19. Changing the output for comments lines</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"BECL"</B></FONT> - Before Each Comment Line. This hook is applied to all comments
   whatever the kind of comment. If exists, printed before the contents
   of each line of each comment (usually after the default string "--").
<BR><BR>
<FONT COLOR="#50a050"><B>"AECL"</B></FONT> - After Each Comment Line. This hook is applied to all comments
   whatever the kind of comment. If exits, printed after the contents
   of each line of each comment (usually, printed before the default "%N").
<BR><BR>
<FONT COLOR="#50a050"><B>"Ucomment"</B></FONT> - To replace the Underscore character in a comment.
<BR><BR>
<FONT COLOR="#50a050"><B>"op_quote"</B></FONT> - To replace the default opening quote mark "`".
<BR><BR>
<FONT COLOR="#50a050"><B>"cl_quote"</B></FONT> - To close an "op_quote" to replace the closing quote mark "'".
</DL>

&nbsp;&nbsp;&nbsp;&nbsp;<FONT COLOR="#c000c0"><B>20. Miscellaneous tuning</B></FONT>
<DL COMPACT><DT><DD>
<FONT COLOR="#50a050"><B>"open_b"</B></FONT> - To replace the default opening bracket "(" in expressions.
<BR><BR>
<FONT COLOR="#50a050"><B>"close_b"</B></FONT> - To replace the default closing bracket ")" in expressions.
<BR><BR>
<FONT COLOR="#50a050"><B>"arrow"</B></FONT> - To replace the default string "-&gt;" in a formal generic list.
<BR><BR>
<FONT COLOR="#50a050"><B>"dot"</B></FONT> - To replace the default string "." in an expression.
<BR><BR>
<FONT COLOR="#50a050"><B>"Result"</B></FONT> - To replace the default string "Result".
<BR><BR>
<FONT COLOR="#50a050"><B>"old"</B></FONT> - To replace the default string "old " in ensure clauses.
<BR><BR>
<FONT COLOR="#50a050"><B>"strip_open"</B></FONT> - To replace the default string "strip (".
<BR><BR>
<FONT COLOR="#50a050"><B>"strip_close"</B></FONT> - To replace default string ")" which closes "strip_open".
<BR><BR>
<FONT COLOR="#50a050"><B>"create_open"</B></FONT> - To replace the default string "create {".
<BR><BR>
<FONT COLOR="#50a050"><B>"create_close"</B></FONT> - To replace default string "}" which closes "create_open".
<BR><BR>
<FONT COLOR="#50a050"><B>"fnl_sep"</B></FONT> - To replace the default string ", " in a feature name list.
<BR><BR>
<FONT COLOR="#50a050"><B>"Current"</B></FONT> - To replace the default string "Current".
<BR><BR>
<FONT COLOR="#50a050"><B>"Void"</B></FONT> - To replace the default string "Void".
<BR><BR>
<FONT COLOR="#50a050"><B>"once"</B></FONT> - To replace the default string "once ".
<BR><BR>
<FONT COLOR="#50a050"><B>"new_line"</B></FONT> - To replace the default string "%N".
</DL>
</P>

<!-- BL START -->
<!-- BL1 START -->
<CENTER>
<IMG SRC="../images/se-line.gif" ALT="[Line]">
<BR>
<FONT SIZE="-1"><I>
Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A>
<BR>
<!-- hhmts start -->
Last modified: Tue Feb 11 12:17:57 CET 2003
<!-- hhmts end -->
<BR>
</I></FONT><BR></CENTER>
