<!-- Title = configuring the system -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>System Configuration</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<BR><BR><BR>

<P>
First note that the configuration file is described here for no other
purpose than description ;-) The installer program should be used to
set and modify the file. See <a href="install.html">the
<code>install</code> command</a> for more details.
</P>


<P>
System customisation is performed thanks to the configuration file
(sometimes still called the <code>system.se</code> file, in memory of
old times when the name was compulsory).
</P><P> This file may be found in usual places such as
<code>/etc</code> or <code>$HOME</code> on Unix or Linux, or
<code>%USERPROFILE%</code> on Windows. In any case, the
<code>SmartEiffel</code> variable may be used to set the path name of
the configuration file.
</P><P> The configuration file is normally created by the installer
(or reused if it already exists). For more information on the
installer, see the <a href="install.html">install</a> command.
</P><P> Among other things, the configuration file tells SmartEiffel
the system type it is installed upon.  When the system name is
correctly set, SmartEiffel performs some automatic customisations.
For example, if the system is set to <code>DOS</code>, SmartEiffel uses the
suffix <code>.BAT</code> for script files and the suffix
<code>.EXE</code> for executables files.
</P><P> The configuration file also contains various values to
customize SmartEiffel with the system, the C compiler and the linker
used as well as the default load path used to look for Eiffel source
code.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">The <TT>SmartEiffel</TT> Environment Variable </FONT></TD>
</TR>
</TABLE>
<P>
The environment variable <TT>SmartEiffel</TT> may be set with the
absolute path of the configuration file,  which is traditionally in the
sub-directory <CODE>sys</CODE> of the installation directory.
<BR>
Under a UNIX-like system, the value of the <TT>SmartEiffel</TT> 
environment variable may be for example:
<CODE>/usr/lib/SmartEiffel/sys/system.se</CODE>
</P>
<p>
If the <code>SmartEiffel</code> variable is not set, the configuration
file is sought in standard places, which depend on the system
SmartEiffel guesses it is running upon (which may not be as accurate
as what you set in the configuration file itself).
</p>
<ul>
<li><b>On Unix or Linux,</b> the standard places are (in that order)
<code>$HOME/.serc</code> and <code>/etc/serc</code></li> <li><b>On
Windows,</b> the standard places are (in that order)
<code>%USERPROFILE%\SE.CFG</code> and <code>C:\SE.CFG</code></li>
<li>On other systems, no one contributed standard locations, therefore
the <code>SmartEiffel</code> variable is still mandatory.</li> </ul>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2"><A NAME="systems"></A>The configuration file</FONT></TD>
</TR>
</TABLE>

<p>
The configuration file is divided into <i>sections,</i> each section
being a set of key-value pairs.
</p>

<p>
There are two kinds of sections: special ones (with special meaning),
and any other section describing a C mode (more about C modes: <a
href="install.html#CMODES">here</a>).
</p>

<p>
The special sections are:
</p>

<table border="0">

<tr>
<td width="15%" align="center" valign="top"><b>[General]</b></td>
<td>The main section of the configuration file. It describes a few
paths (location of binaries, the sys directory, and the short
directory), the operating system type (see <a
href="#SYSTEM">below</a>), and a version tag (the latter gives a
compatibility level of the configuration file).</b> </td> </tr>

<tr>
<td "width=15%" align="center" valign="top"><b>[Environment]</b></td>
<td>This section contains keys that can be used as pseudo-environment
variables, in other sections of the configuration file (typically
<b>[Loadpath]</b>, see below) or an ACE file. The installer at least
defines three variables: <i>path_tutorial</i>, <i>path_tools</i>, and
<i>path_lib</i>, which define resp. the path to the tutorial classes,
the classes of the SmartEiffel tools, and the classes of the
SmartEiffel standard library. </td> </tr>

<tr>
<td width="15%" align="center" valign="top"><b>[Loadpath]</b></td>
<td> This section contains the default load paths used by
SmartEiffel. The key is a description, and that's its only
purpopse. The value of each key is a path either to a directory of,
more likely, to a <code>loadpath.se</code> file.  <br> Note that those
paths may use variables from the program environment (os-dependant),
or variables described in the <b>[Environment]</b> section (see
above).  <br> Also note that the paths are searched in the given
order. The installer defines at least three paths: <i>lib</i>,
<i>tools</i>, and
<i>tutorial</i> which have similar meanings than their
<b>[Environment]</b> counterparts (see above).  </td> </tr>

</table>

<p>
The standard C mode sections are: <b>[boost]</b>, <b>[no_check]</b>,
<b>[require_check]</b>, <b>[ensure_check]</b>, <b>[loop_check]</b>,
and <b>[all_check]</b>. Usually, an extra C
mode, <b>[release]</b> is also defined. Note that the first ones are
associated to each check level of the compiler, but one may change the
C mode using the <code>-c_mode</code> flag.
<br>
Each C mode may define the following keys:
</p>

<table border="0">

<tr>
<td width="15%" align="center"
valign="top"><b>c_compiler_type</b></td> <td>Gives the compiler type
the actual C compiler conforms to. See <a href="#COMPILER">below</a>
to know which compiler types are known. This compiler type is used
when extra options have to be automatically added by
SmartEiffel. Their format will respect the one of the given cuompiler
type. <b>This key is mandatory.</b> </td>
</tr>

<tr>
<td width="15%" align="center" valign="top"><b>c_compiler_path<b></td>
<td> Gives the actual path of the C compiler. If not set, the name of
the compiler type will be used.  </td>
</tr>

<tr>
<td width="15%" align="center" valign="top"><b>c_compiler_options<b></td>
<td>Gives the options to be given to the compiler, whatever else is added by SmartEiffel.
</td>
</tr>

<tr>
<td width="15%" align="center" valign="top"><b>c_linker_path</b></td>
<td>Gives the path to the C linker. If not set, the compiler path will
be used (itself perhaps being the compiler type if not set).  </td>
</tr>

<tr>
<td width="15%" align="center" valign="top"><b>c_linker_options</b></td>
<td>Gives the options to be given to the linker, whatever else is added by SmartEiffel.
</td>
</tr>

<tr>
<td width="15%" align="center"
valign="top"><b>cpp_compiler_type</b></td> <td>Gives the compiler type
the actual C++ compiler conforms to. See <a href="#COMPILER">below</a>
to know which compiler types are known. This compiler type is used
when extra options have to be automatically added by
SmartEiffel. Their format will respect the one of the given cuompiler
type. If not set, SmartEiffel won't be able to compile programs using
<code>external&nbsp;"C++"</code> code. </td>
</tr>

<tr>
<td width="15%" align="center" valign="top"><b>c++_compiler_path<b></td>
<td> Gives the actual path of the C++ compiler. If not set, the name of
the compiler type will be used.  </td>
</tr>

<tr>
<td width="15%" align="center" valign="top"><b>cp_compiler_options<b></td>
<td>Gives the options to be given to the compiler, whatever else is added by SmartEiffel.
</td>
</tr>

<tr>
<td width="15%" align="center" valign="top"><b>cpp_linker_path</b></td>
<td>Gives the path to the C++ linker. If not set, the compiler path will
be used (itself perhaps being the compiler type if not set).  </td>
</tr>

<tr>
<td width="15%" align="center" valign="top"><b>cpp_linker_options</b></td>
<td>Gives the options to be given to the linker, whatever else is added by SmartEiffel.
</td>
</tr>

<tr>
<td width="15%" align="center"
valign="top"><b>smarteiffel_options</b></td> <td>Gives extra options
to give to SmartEiffel. Only a subset of the known options are
supported: <code>-no_gc</code>, <code>-no_strip</code>,
<code>-no_split</code>, <code>-sedb</code> and <code>-profile</code>.  </td>
</tr>

</table>



<A NAME="SYSTEM"></A>
<P>
The <i>os</i> key of the <b>[General]</b> section of the
configuration file is used by SmartEiffel to know which operating
system is running.  The currently supported values are: <TABLE>

<TR><TD><B>UNIX</B></TD>
<TD>for all UNIX-like systems, GNU/Linux, HP-UX, Solaris, SunOS, Irix, XENIX, etc.
</TD></TR>

<TR><TD><B>Windows</B></TD>
<TD> for Windows 95 and Windows NT systems (using long filenames).
</TD></TR>

<TR><TD><B>DOS</B></TD>
<TD> for MS-DOS systems or Windows 3.x (using short filenames, with 8.3 scheme).
</TD></TR>

<TR><TD><B>Macintosh</B></TD>
<TD> for Macintosh systems (68K and PPC)
</TD></TR>

<TR><TD><B>BeOS</B></TD>
<TD> for the BeOS system
</TD></TR>

<TR><TD><B>Amiga</B></TD>
<TD> for the Amiga system 
</TD></TR>

<TR><TD><B>OS2</B></TD>
<TD> for IBM OS/2 systems
</TD></TR>

<TR><TD><B>VMS</B></TD>
<TD> for the VMS systems
</TD></TR>

</TABLE>



<A NAME="COMPILER"></A>
<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">The known C compilers</FONT></TD>
</TR>
</TABLE>
<P>
The <i>c_compiler_type</i> of each C-mode section is used to describe which compiler type is to be used. The exact path to both the C compiler and the linker may then be set.
<br>
For example:
</P>

<pre>
[boost]
c_compiler_type: gcc
c_compiler_path: /usr/bin/gcc-3.4
</pre>

At the current time, the supported compiler types are:

<TABLE COLUMNS=2>

<TR><TD><B>gcc</B></TD><TD>The free and open-source GNU C Compiler and its variants 
(egcs, mingw32, etc.) on several platforms (Linux and other UNIXes, Windows).
</TD></TR>

<TR><TD><B>cc</B></TD><TD>The standard cc compiler, as provided by vendors of most UNIX 
and VMS systems.</TD></TR>

<TR><TD><B>lcc-win32</B></TD><TD>The free port of lcc for Windows platforms.</TD></TR>

<TR><TD><B>bcc32</B></TD><TD>The Borland (now Inprise) C/C++ compiler on Windows platforms.</TD></TR>

<TR><TD><B>bcc32i</B></TD><TD>A variant  of the previous one.</TD></TR>

<TR><TD><B>wcl386</B></TD><TD>The Watcom C/C++ compiler for Windows platforms.</TD></TR>

<TR><TD><B>cl</B></TD><TD>The MicroSoft C/C++ compiler for Windows platforms.</TD></TR>

<TR><TD><B>sas_c</B></TD><TD>The SAS C compiler, sc on Amiga platforms.</TD></TR>

<TR><TD><B>dice</B></TD><TD>The dice C compiler.</TD></TR>

<TR><TD><B>vbcc</B></TD><TD>The vbcc C compiler.</TD></TR>

<TR><TD><B>ccc</B></TD><TD>The Compaq C compiler for AlphaLinux.</TD></TR>

<TR><TD><B>sc</B></TD><TD>??</TD></TR>

<TR><TD><B>vpcc</B></TD><TD>??</TD></TR>

<TR><TD><B>OpenVMS_CC</B></TD><TD>??</TD></TR>

<TR><TD><B>tcc</B></TD><TD>The Tiny C Compiler. Fast and small (Windows or Linux)</TD></TR>

</TABLE>

<P>
Some other compilers may be supported by the compiler, but their
"type" is near enough to a kneown one not to need a special value. For
example, <b>icc</b> is also supported by the SmartEiffel installer.
</P>

<P>
SmartEiffel will automatically generate the correct system call to this C compiler, 
with the appropriate linker and adequate object files suffix.
</P>
In case an unknown compiler name is supplied, SmartEiffel generates an error message
listing the supported compiler names.
In case the compiler specified is a correct one but can't be found, SmartEiffel 
won't be able to detect it, but there will be an error message from the system.
In <CODE>-verbose</CODE> mode, the systems calls to the C compiler are displayed, 
thus making it easy to find such errors.

</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Changing the Default Loading Path</FONT></TD>
</TR>
</TABLE>
<P>
All the commands use the same algorithm to search for Eiffel source
files.  The default global loading path is set in the
<b>[Loadpath]</b> section of the configuration file (see above).
</P>

<P>

<A NAME="loadpath"></A>
To change this default loading path, you need to add a special
file which name is <CODE>loadpath.se</CODE> in the directory in which you
type a <A HREF="../commands/commands.html">command</A> of SmartEiffel 
(<TT>compile</TT>, <TT>finder</TT>,
<TT>pretty</TT>, <TT>compile_to_c</TT>, <TT>compile_to_jvm</TT>, <TT>short</TT>,
<TT>clean</TT>).
</P>
<P>
Each line of the file <CODE>loadpath.se</CODE> must be an existing
directory path or the absolute path of another
<CODE>loadpath.se</CODE> file to include recursively.  Environment
variable may be used in these lines, with the syntax
<CODE>${MY_VAR}</CODE> (also, environment variables set in the
configuration file are supported). But those paths are best relative
to their current directory. In that case, they are written in the Unix
way and are independant from the operating system.
</P>

<P>
Moreover, a <code>loadpath.se</code> may contain references to other
<code>loadpath.se</code> files thus alowping the construction of
complex load paths from several libraries. Note that the nesting is
limitted to 5 levels deep.
</P>

<P>
All directories of the local <CODE>loadpath.se</CODE> file are 
added <I>ahead of</I> the default loading path.
All directories are searched in the order in which they appear.
The current directory is not included in the search path unless it is 
explicitly specified in one of the <CODE>loadpath.se</CODE>.
Also note that an empty line in a <CODE>loadpath.se</CODE> file may
add the current working directory in a place you don't want.
</P>

<P>To check that your loading path is correctly set, just 
type command <CODE>finder</CODE> using an unknown class name as
argument.
</P>

<P>
<FONT COLOR="#a000a0"><B>Sample loadpath.se file under UNIX</B></FONT>

<BR><BR>
<CODE>
/users/myself/one_dir/<BR>
../../another_dir/<BR>
${MY_LIB}/goodies/<BR>
/users/${MY_BUDDY}/common/loadpath.se<BR>
./
</CODE>
<BR><BR>

The first line is an absolute path to some directory.<BR>
The second one is a relative path to some directory.<BR>
The third line shows the use of an environment variable to point to some directory.<BR>
The fourth line also features an environment variable, but points to a second loadpath 
file, that will be included before the general <CODE>loadpath.UNIX</CODE> file.<BR>
The fifth line adds the current directory to the loadpath.
</P>

<P>
<FONT COLOR="#a000a0"><B>Sample loadpath.se file under Windows</B></FONT>

<BR><BR>
<CODE>
C:\myself\one_dir\<BR>
..\..\another_dir\<BR>
${MY_LIB}\goodies\<BR>
\users\${MY_BUDDY}\common\loadpath.se<BR>
.\
</CODE>
<BR><BR>
Same explanations as above, except of course that this file is prepended in front 
of the <CODE>loadpath.Windows</CODE> file.

</P>



<CENTER><P><IMG SRC="../images/se-line.gif" ALT="[Line]" HEIGHT=16 WIDTH=550>
<BR>
<I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A> 
<BR>
<!-- hhmts start -->Last modified: Sun Nov 28 06:50:34 CET 2004 <!-- hhmts end -->
<BR>
</FONT></I><BR></P></CENTER>
