<!-- Title = Download -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>Download SmartEiffel's Tools and Libraries</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<BR><BR>
To know the number of the latest stable release, see first the 
<A HREF="../misc/HISTORY.html">History of Changes</A>.
Note that a beta release is always tested with the same 
test suite as the plain stable release and, yes, you can really trust 
a beta release.

<BR><BR>
If you are a <B>Windows user</B> (98 / 2000 / NT or XP), the best way
to get SmartEiffel running is to download an auto-extractible archive
which is actually a Windows <CODE>.EXE</CODE> executable file.
Names for auto-extractible Windows archives are the names matching
the <CODE>SmartEiffel-*.exe</CODE> pattern.
As for all archives, the <CODE>*</CODE> part indicates the release 
number of SmartEiffel.
Note that each auto-extractible archive includes a ready-to-use SmartEiffel
for the Windows operating system as well as the whole source code to
install or re-install SmartEiffel from scratch.
Actually, all the material included in the traditional 
<CODE>SmartEiffel-*.zip</CODE> archive
is also part of the corresponding <CODE>SmartEiffel-*.exe</CODE> archive.
Please, note that the traditional <CODE>SmartEiffel-*.zip</CODE>
archive does not contains a ready-to-use SmartEiffel system.
Furthermore, if you do not have your own C compiler already installed
on your Windows box, we strongly recommend you to download a 
<CODE>SmartEiffel-*.exe</CODE> auto-extractible archive (yes, a C
compiler is shipped together whith any <CODE>SmartEiffel-*.exe</CODE> 
archive).

<BR><BR>
If you are a <B>Linux / Unix user</B>, just select your preferred 
archive format: the classic <CODE>SmartEiffel-*.tgz</CODE> archive or
the <CODE>SmartEiffel-*.tar.bz2</CODE> archive.
Both have exactely the same contents which is actually identical to
the <CODE>SmartEiffel-*.zip</CODE> archive.


<BR><BR>
<A HREF="http://gforge.inria.fr/frs/?group_id=184">
Click here to go to our download zone.</A>
<BR><BR>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Mirrors of the SmartEiffel Web Site</FONT></TD>
</TR>
</TABLE>

<P>
<DL COMPACT>
<TABLE>


<TR>
<TD>Australia: </TD>
<TD><A HREF="http://planetmirror.com/pub/smarteiffel/">
http://planetmirror.com/pub/smarteiffel/</A></TD>
</TR>

<TR>
<TD>Australia: </TD>
<TD><A HREF="ftp://planetmirror.com/pub/smarteiffel/">ftp://planetmirror.com/pub/smarteiffel/</A></TD>
</TR>

<TR>
<TD>Australia: </TD>
<TD><A HREF="ftp://ftp.progsoc.uts.edu.au/pub/Eiffel/SmartEiffel/">ftp://ftp.progsoc.uts.edu.au/pub/Eiffel/SmartEiffel/</A></TD>
</TR>

<TR>
<TD>Austria: </TD>
<TD><A HREF="http://gd.tuwien.ac.at/pub/languages/SmartEiffel/">http://gd.tuwien.ac.at/pub/languages/SmartEiffel/</A></TD>
</TR>

<TR>
<TD>Norway:</TD>
<TD><A HREF="ftp://ftp.pvv.ntnu.no/pub/languages/SmartEiffel/">
ftp://ftp.pvv.ntnu.no/pub/languages/SmartEiffel/</A></TD>
</TR>

<TR>
<TD>USA:</TD>
<TD><A HREF="ftp://ftp.cs.rit.edu/pub/mirrors/SmartEiffel/">ftp://ftp.cs.rit.edu/pub/mirrors/SmartEiffel/</A></TD>
</TR>


</TABLE>
</DL>
</P>

<P><BR>
If you wish to mirror the SmartEiffel distribution, or know of a mirror 
that's not listed here, <A HREF="mailto:SmartEiffel@loria.fr">drop
us a note</A>. </P>

<A NAME="git"></A>
<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Source Controlled Repository</FONT></TD>
</TR>
</TABLE>
<P>
The SCM tool (Software Configuration Management tool) used by the SmartEiffel team
is hosted at <A HREF="http://gforge.inria.fr/projects/smarteiffel">gforge.inria.fr</A>.
This gives you access to the most bleeding-edge version of SmartEiffel.
You can see how SmartEiffel evolves, and, for some of you, more
actively participate to its development.
</P>


<A NAME="snapshot"></A>
<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Snapshot Version 
With Source Code Only</FONT></TD>
</TR>
</TABLE>
<P>
Better than the old snapshot, just use directly the
<A HREF="http://gforge.inria.fr/projects/smarteiffel">SCM development
repository of the SmartEiffel team</A>.
This gives you access to the most bleeding-edge version of SmartEiffel.
</P>


<CENTER><P><!-- BL START --><!-- BL1 START --><IMG SRC="../images/se-line.gif" ALT="[Line]" HEIGHT=16 WIDTH=550>
<BR>
<I><FONT SIZE=-1>Copyright &copy; The SmartEiffel Team -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A> <BR>
<BR>
</P></CENTER>

