<!-- Title = Related projects -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>Related Projects</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<P>
This page lists (Smart)Eiffel <B>software resources (libraries and
tools) that should be useful if you're using SmartEiffel</B>.
It contains links to projects developed around or for SmartEiffel (but not by the 
SmartEiffel team). The SmartEiffel team gives <B>no guarantees</B>
about the quality, usefulness or anything about these resources (in
fact, we haven't had time to test most of them).
</P>

<P>
If you <B>want to help</B> (which we do encourage you to do!), to
complain, to signal bugs, or to get more information about any of
these, please follow the links and contact directly the people in
charge, or use the SmartEiffel mailing list. We, the SmartEiffel team, 
won't be able to help you.
</P>

<P>
If you know about a serious project that is not mentioned here and should be,
or if you find an error below, or think one of the resources has
nothing to do here,
please <A HREF="mailto:zendra@loria.fr">send me an e-mail</A> with the
relevant information. 
Also do so if you have an ongoing project for which <B>you need help</B> (we
probably won't help you directly, but we'll put your request on this page).
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">GUI (Graphical User Interface) Libraries</FONT></TD>
</TR>
</TABLE>
<P><DL>


<DT><A HREF="http://www.netlabs.net/hp/richieb/gtk_eiffel.html"><B>eGTK</B></A>, 
   by <A HREF="mailto:richieb@netlabs.net">Richie Bielak</A> et al.</DT>
   <DD>Eiffel / GTK+ binding. Works on UNIX and probably Windows.</DD>
<BR><BR>

<DT><IMG SRC="../images/new.gif" ALT="[New!]">
   <A HREF="http://eiffelfox.sourceforge.net/">
   <B>EiffelFox</B></A>, 
      by <A HREF="http://sourceforge.net/users/dhiebert/">
      Darren Hiebert</A>.</DT>
   <DD>Wrapper (binding) for the FOX GUI Toolkit. Works on Unix and Win32.</DD>
<BR><BR>

<DT><A HREF="http://www.primenet.com/~pcj/eiffel-gtk/"><B>eiffel-gtk</B></A>, 
   by  <A HREF="mailto:pcj+eiffel@primenet.com">Paul Janzen</A> 
   and Francois Pennach</DT>
   <DD>SmartEiffel / Gtk bindings. Works on UNIX.</DD>
<BR><BR>

<DT><A HREF="http://efsa.sourceforge.net/archive/hillion/EiffelXlib.htm">
   <B>Eiffel Xlib</B></A>, by  <A HREF="mailto:hillion@essi.fr">
   Stephane Hillion</A>.</DT>
   <DD>Binding to the C 'Xlib' library. Works on Linux, Solaris and
   Windows NT/Cygwin32.</DD>
<BR><BR>

<DT><A HREF="http://www.nenie.org/eiffel/fenestra/">
   <B>Fenestra</B></A>, by <A HREF="mailto:franck@nenie.org"> 
   Franck Arnaud</A>.</DT>
   <DD>Win32 API GUI library.</DD>
<BR><BR>

<DT><A HREF="http://www.elj.com/elj-win32/grape/">
   <B>GRAPE for SmartEiffel</B></A>, by  <A HREF="mailto:whites@rka.com.au"> 
    Steven White</A>.</DT>
   <DD>GRAphical Programming for Eiffel for SmartEiffel. Works on 
   Windows and probably UNIX.</DD>
   <DD>Steven wouldn't mind  getting some  help for extensions.</DD>
<BR><BR>


<DT><A HREF="http://home.pages.de/~jbergmeyer/">
   <B>Tcl-Eiffel</B></A>, by  <A HREF="mailto:jbergmeyer@bigfoot.de">
   Joachim Bergmeyer</A>.</DT>
   <DD>GUI support by providing a connection to Tcl/Tk.</DD>

</DL></P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Database Interface Libraries</FONT></TD>
</TR>
</TABLE>
<P><DL>

<DT><A HREF="http://sourceforge.net/projects/safe">
   <B>ECLI</B></A>, by <A HREF="mailto:pgcrism@attglobal.net"> 
   Paul G. Crismer</A> and al.</DT>
   <DD>An Eiffel wrapper around the X/Open ISO/CLI (also known as ODBC
       under Windows). Provides an API to RDBMS drivers and uses SQL92.</DD> 
<BR><BR>

<DT><A HREF="http://efsa.sourceforge.net/archive/doyle/esql.htm">
   <B>eSQL</B></A>, by <A HREF="mailto:doylep@ecf.toronto.edu"> 
   Patrick Doyle</A> and al.</DT>
   <DD>The Eiffel SQL Library. Works with Linux and mSQL 2.0 from Hughes Technologies</DD>
<BR><BR>
<DT><A HREF="http://bleu.west.spy.net/~dustin/eiffel/#pg">
   <B>PG</B></A>, by Dustin Salling.</DT>
   <DD>A basic  interface to the PostgreSQL relational database.</DD>

</DL></P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Networking & Web Libraries</FONT></TD>
</TR>
</TABLE>
<P><DL>



<DT><A HREF="http://bleu.west.spy.net/~dustin/eiffel/#cgi">
   <B>CGI</B></A>, by Dustin Salling.</DT>
   <DD>A very simple CGI class.</DD>
<BR><BR>

<DT><A HREF="http://bleu.west.spy.net/~dustin/eiffel/#eiffeldap">
   <B>EiffeLDAP</B></A>, by Dustin Salling.</DT>
   <DD>Eiffel/OpenLDAP binding. In progress.</DD>
<BR><BR>

<DT><A HREF="http://www.shadow.net/~stimuli/">
   <B>The Eiffel Sockets Library</B></A>, by 
   <A HREF="mailto:stimuli@shadow.net">Jeffrey Straszheim</A>.</DT>
   <DD>Application level networking library. Works on Linux; should be
   rather portable. In (apparently quick) progress.</DD>
<BR><BR>

<DT><A HREF="http://www.math.uni-goettingen.de/micoe/">
   <B>The mico/E</B></A> CORBA and Eiffel project.</DT>
   <DD>A complete implementation of CORBA for Eiffel.</DD>
<BR><BR>

<DT><A HREF="http://efsa.sourceforge.net/archive/wallis/orbit_eiffel.htm">
   <B>ORBIT_Eiffel</B></A>, by <A HREF="mailto:brianw@acm.org">
   Brian Wallis</A>.</DT>
   <DD>Binding for the ORBit ORB. "Quite incomplete and only for the brave :-)"</DD>
<BR><BR>

<DT><A HREF="http://www.cs.uchicago.edu/~laheadle/Small-FCGI/">
   <B>Small-FCGI</B></A>, by <A HREF="mailto:laheadle@cs.uchicago.edu">Lyn 
   Headley</A>.</DT>
   <DD>SmartEiffel Bindings for Fast CGI.</DD>
<BR><BR>

<DT><IMG SRC="../images/new.gif" ALT="[New!]"><A HREF="http://sourceforge.net/projects/yaesockets/">
   <B>yaesockets (Yet Another Eiffel Sockets)</B></A>, by 
      <A HREF="mailto:mqm@users.sourceforge.net">Marcio Marchini</A>.</DT>
   <DD>A multi-OS (Win32, Linux, QNX, etc) TCP/IP API layer for Eiffel.</DD>


</DL></P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Base / Data structures Libraries</FONT></TD>
</TR>
</TABLE>
<P><DL>

<DT><A HREF="http://www.nenie.org/eiffel/pylon/">
   <B>Pylon</B></A>, by <A HREF="mailto:franck@nenie.org"> 
   Franck Arnaud</A>.</DT>
   <DD>Compact foundation library providing the classic data structures
   (lists, sets, tables, date + time,...) and a few additional useful things.</DD>
<BR><BR>
<DT><A HREF="http://www.gobosoft.com/eiffel/gobo/structure/index.html">
   <B>Gobo Eiffel Structure Library</B></A>, 
   by <A HREF="mailto:ericb@gobosoft.com">Eric Bezault</A>.</DT>
   <DD>Portable Eiffel class library.</DD>
<BR><BR>
<DT><A HREF="http://efsa.sourceforge.net/archive/hillion/big_numbers.htm">
   <B>Big_numbers</B></A>, by  <A HREF="mailto:hillion@essi.fr">
   Stephane Hillion</A>.</DT>
   <DD>Arbitary precision numbers library.</DD>

</DL></P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Others Libraries</FONT></TD>
</TR>
</TABLE>
<P><DL>


<DT><A HREF="http://www.pobox.com/~berend/eposix/index.html">
   <B>e-POSIX</B></A>, by <A HREF="mailto:berend@pobox.com">
       Berend de Boer</A>.</DT>
   <DD>Almost complete Standard C and POSIX binding.</DD>
<BR><BR>
<DT><A HREF="http://www.gobosoft.com/eiffel/gobo/gelex/index.html">
   <B>Gobo Eiffel Lex</B></A>, by <A HREF="mailto:ericb@gobosoft.com">
   Eric Bezault</A>.</DT>
   <DD>Portable lexical analyser generator.</DD>
<BR><BR>
<DT><A HREF="http://www.gobosoft.com/eiffel/gobo/geyacc/index.html">
   <B>Gobo Eiffel Yacc</B></A>, by <A HREF="mailto:ericb@gobosoft.com"> 
   Eric Bezault</A>.</DT>
   <DD>Portable parser generator.</DD>
<BR><BR>
<DT><A HREF="http://exml.sourceforge.net/">
   <B>eXML</B></A>, by <A HREF="mailto:andreas.leitner@teleweb.at"> 
   Andreas Leitner</A>.</DT>
   <DD>Eiffel XML Parser Toolkit. Works under Windows and Linux (and other
   UNIXes ?). eXML is now included in Gobo project.</DD>
<BR><BR>
<DT><A HREF="http://efsa.sourceforge.net/archive/cozzi/swigeiffel.htm">
   <B>SWIGEIFFEL</B></A>, by  
   <A HREF="mailto:cozzi@neurop2.ruhr-uni-bochum.de">
   Alex Cozzi</A>.</DT>
   <DD>Extension to SWIG (Simplified Wrapper and Interface Generator) to produce Eiffel
   interfaces to C libraries. (Alternate address: <A HREF="http://www.alexcozzi.com/sw/">http://www.alexcozzi.com/sw/</A>)</DD>
<BR><BR>
<DT><A HREF="http://bleu.west.spy.net/~dustin/eiffel/#base64">
   <B>BASE64</B></A>, by Dustin Salling.</DT>
   <DD>A simple Base64 encode/decode class.</DD>
<BR><BR>
<DT><A HREF="http://www.netlabs.net/~richieb/downloads/matching_se_0310.tar.gz">
   <B>ISS RegEx/SE</B></A>, by <A HREF="mailto:richieb@netlabs.net">
   Richie Bielak</A>.</DT>
   <DD>Port of the ISS RegEx matching library to SmartEiffel.</DD>
<BR><BR>
<DT><A HREF="http://efsa.sourceforge.net/archive/durian/midi-eiffel.htm">
   <B>midi-eiffel</B></A>, by <A HREF="mailto:durian@boogie.com">Mike
   Durian</A>.</DT>  
   <DD>An Eiffel wrapper to tclmidi, a TCL extension to deal with MIDI
   files.</DD>
<BR><BR>
<DT><A HREF="http://userpages.umbc.edu/~greagl1/optimus/optimus.html">
   <B>Optimus</B></A>, by <A HREF="mailto:greagl1@umbc.edu">
   Greg Reagle</A>.</DT>
   <DD>GNU style command line argument parsing.  Features support for 
   long/short options, counting of options, intermixing of
   options and arguments, options with required or optional arguments...</DD>
<BR><BR>
<DT><IMG SRC="../images/new.gif" ALT="[New!]">
   <A HREF="http://sourceforge.net/projects/safe">
   <B>EPDF</B></A>, by <A HREF="mailto:pgcrism@attglobal.net">
   Paul G. Crismer</A> and al.</DT>
   <DD>Eiffel library for producing PDF.</DD>
<BR><BR>


</DL></P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2">Tools</FONT></TD>
</TR>
</TABLE>
<P><DL>

<DT><A HREF="http://meltin.net/hacks/emacs/src/eiffel-mode.el">
   <B>eiffel-mode.el</B></A>, 
   by <A HREF="mailto:martin@meltin.net">Martin Schwenke</A></DT>
   <DD>Eiffel mode for GNU Emacs, with support for SmartEiffel.</DD>
<BR><BR>


</DL></P>


<CENTER><P><IMG SRC="../images/se-line.gif" ALT="[Line]" HEIGHT=16 WIDTH=550>
<BR>
<I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A> <BR>
<!-- hhmts start -->
Last modified: Tue Feb 11 11:59:14 CET 2003
<!-- hhmts end -->
<BR>
</FONT></I><BR></P></CENTER>

