<!-- Title = bug report -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>Bug reports</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<BR><BR><BR>

Since march thursday 2nd 2006, the bug reporting page of SmartEiffel
can be found on the SmartEiffelWiki.

<BR>

<A HREF="http://SmartEiffel.loria.fr/wiki/index.php/Bug_report"> 
The bug reporting page on the SmartEiffelWiki.
</A>

<BR><BR><BR>

<CENTER><IMG SRC="../images/se-line.gif" ALT="[Line]" ></CENTER>

<CENTER><I><FONT SIZE=-1>Copyright &copy; The SmartEiffel team.
 - <A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr></A><BR>
<BR>
</FONT></I></CENTER>
