<!-- Title = mailing list -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>The SmartEiffel Mailing List</B></FONT></CENTER>
</TD>
</TR>
</TABLE>
<BR><BR><BR>
<P>
This mailing list is devoted to questions, answers, discussions, etc. 
about SmartEiffel, The GNU Eiffel Compiler. 
It is of course <I>not</I> reserved to interactions with the
SmartEiffel team.</P> 


<P>
We try to ensure this list is one of <B>high quality</B> and 
<B>low traffic</B> and does not
waste its subscribers' time. Thus, please be careful before 
sending any mail to the list because this is an 
unmoderated one.<BR>
Any mail should be <B>related to SmartEiffel</B>. 
Messages related to Eiffel may be more relevant in 
<A HREF="../news:comp.lang.eiffel">comp.lang.eiffel</A>.
Please avoid personal messages as well. <B>No spam and no flames</B>, of course.
<BR>
Failure to comply with these few basic rules may cause your 
subscription to be terminated.
</P>
<P>
If you have questions about SmartEiffel, you may find the answer in
<A HREF="/wiki/index.php/FAQ">the SmartEiffel FAQ</A> and the various documentation accessible from the 
left hand side "menu" on each page of this site. You can also find
answers in the mailing list archive just below.
</P>

<P>
If you think you find some bug, you may report it in the
<A HREF="/wiki/index.php/Bug_report">bug tracking system</A>. If you are not sure
you may discuss your problem on the mailing list before.
</P>

<P>
We hope you will find the SmartEiffel mailing list discussions valuable.:-)
</P>
<P>
To  <A HREF="mailto:SmartEiffel@loria.fr"><B>send</B></A> 
an e-mail to all the list members, simply use the 
address <TT>SmartEiffel@loria.fr</TT><BR>
You must have subscribed to send messages.
</P>

<P>
To <B>subscribe</B>, <B>unsubscribe</B> or <B>browse the archive</B>,
go <A HREF="http://websympa.loria.fr/wwsympa/arc/smarteiffel">to the
SmartEiffel Mailing List manager</A>. 
</P>

<CENTER><P><IMG SRC="../images/se-line.gif" ALT="[Line]" HEIGHT=16 WIDTH=550>
<BR>
<I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A> <BR>
<!-- hhmts start -->
Last modified: Tue Feb 11 12:29:33 CET 2003
<!-- hhmts end -->
<BR>
</FONT></I><BR></P></CENTER>


