<!-- Title = support -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>Support</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<BR><BR><BR>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2"><A NAME="premium"></A>Premium Support and Consulting</FONT></TD>
</TR>
</TABLE>
<P>
Basically, SmartEiffel The GNU Eiffel compiler does not come with 
any warranty or support. However, if you do want a an 
extended support and/or a warranty (e.g. guaranteed response to fix a bug
that annoys you), it is available on a contract basis.
</P>
<P>
<B>On-site support is available for:</B>
<UL>
<LI>Training</LI>

<UL>
<LI>Eiffel programming</LI>
<LI>Object-oriented design</LI>
<LI>Object-oriented technologies</LI>
<LI>Computer languages</LI>
<LI>Compiler technology and implementation</LI>
<LI>...</LI>
</UL>

<LI>Consulting</LI>

<UL>
<LI>Audit</LI>
<LI>Work specific to your project</LI>
<LI>...</LI>
</UL>
</UL>
</P>

<P>
<B>Off-site support is available for:</B>
<UL>
<LI>Enhancement</LI>
<LI>Bug fix</LI>
<LI>Technical support assistance</LI>
<LI>...</LI>
</UL>
</P>
<P>
Corporations interested in any of these should 
<A HREF="mailto:colnet@loria.fr">contact us</A> for 
further information.
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2"><A NAME="FAQ"></A>
The SmartEiffel FAQ</FONT></TD>
</TR>
</TABLE>
<P>
The first place you should look at when you have a question about SmartEiffel 
is <A HREF="../man/SmartEiffelFAQ.html">the SmartEiffel FAQ</A>. We try to 
keep it short but precise in order to maximise its usefulness. Please 
tell us if you do feel something important is really missing.
</P>
<P>
If you have questions which are related to Eiffel, but not specific 
to SmartEiffel, you are likely to find your answer in our 
<A HREF="../general/resources.html">Eiffel links page</A>.
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF" SIZE="+2"><A NAME="mailing-list"></A>
The SmartEiffel Mailing List</FONT></TD>
</TR>
</TABLE>
<P>
The SmartEiffel FAQ is complemented by the 
<A HREF="../support/mailing-list.html">SmartEiffel mailing list</A>.
<BR>
Whenever one of your questions related to SmartEiffel was not answered 
by the SmartEiffel FAQ, you are welcome to ask it in the mailing list.
</P>


<CENTER><P><IMG SRC="../images/se-line.gif" ALT="[Line]" HEIGHT=16 WIDTH=550>
<BR>
<I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A> <BR>
<!-- hhmts start -->
Last modified: Tue Feb 11 12:30:00 CET 2003
<!-- hhmts end -->
<BR>
</FONT></I><BR></P></CENTER>

