<!-- Title = Tools documentation -->
<TABLE BORDER=0 CELLSPACING=5 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE>
<CENTER><FONT COLOR="#FFFFFF" SIZE=+3><B>Tools Documentation</B></FONT></CENTER>
</TD>
</TR>
</TABLE>

<BR><BR><BR>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>install</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
The installation program for SmartEiffel. 
<A HREF="../man/install.html">More about <TT>install</TT> here</A>.
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>se</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
That's the only command-line tool you have to know about. It starts
the many tools provided by SmartEiffel.  <A HREF="../man/se.html">More
about <TT>se</TT> here</A>.
</P>

<P>
<B>Browse the <A
HREF="http://SmartEiffel.loria.fr/tools/index.html">tools documentation online (http)</A>!</B>
</P>

<BR>
<IMG SRC="../images/se-line.gif">
<BR>

<P>
<font color="red"><b>The following commands are obsolete.</b></font>
Some people prefer to add the <TT>SmartEiffel/bin</TT> in their
<TT>PATH</TT>, so they can directly use those commands. This method is
no longer recommended. Put the <TT>se</TT> command somewhere in your
<TT>PATH</TT> instead (e.g. <TT>/usr/local/bin</TT> on Linux).
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>compile</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
Starting from an Eiffel source program, generates the corresponding C code and then
the executable. This is probably the command you want to use. 
<A HREF="../man/compile.html">More about <TT>compile</TT> here</A>.
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>compile_to_c</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
The Eiffel to C compiler itself. You do not generally invoke it explicitly.
<A HREF="../man/compile_to_c.html">More about <TT>compile_to_c</TT> here</A>.
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>compile_to_jvm</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
The Eiffel to Java byte-code compiler. Starting from an  Eiffel source program, 
generates the corresponding <TT>.class</TT> files.
<A HREF="../man/compile_to_jvm.html">More about <TT>compile_to_jvm</TT> here</A>.
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>short</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
Eiffel interface extraction tool. Can generate documentation using different 
formats (ASCII, HTML, etc.)
<A HREF="../man/short.html">More about <TT>short</TT> here</A>.
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>pretty</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
Eiffel pretty printer.
<A HREF="../man/pretty.html">More about <TT>pretty</TT> here</A>.
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>finder</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
Used to find Eiffel source files according to the system configuration.
<A HREF="../man/finder.html">More about <TT>finder</TT> here</A>.
</P>

<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>clean</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
Used to clean Eiffel project directories.
<A HREF="../man/clean.html">More about <TT>clean</TT> here</A>.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>print_jvm_class</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
Java byte-code disassembler and pretty printer.
We find it more convenient than <TT>javap</TT>.
<A HREF="../man/print_jvm_class.html">More about <TT>print_jvm_class</TT> here</A>.
</P>


<TABLE BORDER=0 COLS=1 WIDTH="100%" BGCOLOR="#3366FF" NOSAVE >
<TR NOSAVE>
<TD NOSAVE><FONT COLOR="#FFFFFF"><FONT SIZE="+2"><TT>eiffeldoc</TT></FONT></FONT></TD>
</TR>
</TABLE>
<P>
A documentation system that builds the API of a system. Currently it builds HTML files.
<A HREF="../man/eiffeldoc.html">More about <TT>eiffeldoc</TT> here</A>.
</P>


<CENTER><P><IMG SRC="../images/se-line.gif" ALT="[Line]" HEIGHT=16 WIDTH=550>
<BR>
<I><FONT SIZE=-1>Copyright &copy; Dominique COLNET and Suzanne COLLIN -
<A HREF="mailto:SmartEiffel@loria.fr">&lt;SmartEiffel@loria.fr&gt;</A> <BR>
<!-- hhmts start -->
Last modified: Sat May  7 22:35:13 CEST 2005
<!-- hhmts end -->
<BR>
</FONT></I><BR></P></CENTER>
